.mejs__container {
  background: transparent;
}

.mejs__container .me_cannotplay a {
  background: transparent;
}

.mejs__controls:not([style*="display: none"]) {
  background: transparent;
}

mejs-qualities-button>button,.mejs__qualities-button>button {
    line-height: normal;
    overflow: visible;
}
