<!DOCTYPE html>
<html><head>
    <th:block th:replace="head" />
    <th:block th:replace="jquery" />
    <script type="text/javascript" src="<c:url value='/script/utils.js'/>"></script>
    <script type="text/javascript" language="javascript">
        function enableLdapFields() {
            $("#ldap").is(":checked") ? $("#ldapTable").show() : $("#ldapTable").hide();
        }
    </script>
</head>

<body class="mainframe bgcolor1" onload="enableLdapFields()">
<script type="text/javascript" th:src="@{/script/wz_tooltip.js}"></script>
<script type="text/javascript" th:src="@{/script/tip_balloon.js}"></script>

<th:block th:replace="settingsHeader::header(cat='advanced',toast=${settings_toast})" />

<form method="post" action="advancedSettings.view">

    <table style="white-space:nowrap" class="indent">
        <tr>
            <td th:utext="#{advancedsettings.downloadlimit}"></td>
            <td>
                <input name="downloadLimit" th:value="${command.downloadLimit}" size="8"/>
                <th:block th:replace="helpToolTip(topic=downloadlimit)" />
            </td>
        </tr>

        <tr>
            <td th:utext="#{advancedsettings.uploadlimit}"></td>
            <td>
                <input name="uploadLimit" th:value="${command.uploadLimit}" size="8"/>
                <th:block th:replace="helpToolTip(topic=uploadlimit)" />
            </td>
        </tr>
    </table>

    <table class="indent">
        <tr>
            <td th:text="#{advancedsettings.smtpFrom}"></td>
            <td>
                <input name="smtpFrom" th:value="${command.smtpFrom}" size="50"/>
                <th:block th:replace="helpToolTip(topic=smtpFrom)" />
            </td>
        </tr>

        <tr>
            <td th:text="#{advancedsettings.smtpServer}"></td>
            <td>
                <input name="smtpServer" th:value="${command.smtpServer}" size="50"/>
                <th:block th:replace="helpToolTip(topic=smtpServer)" />
            </td>
        </tr>

        <tr>
            <td th:text="#{advancedsettings.smtpPort}"></td>
            <td>
                <input name="smtpPort" th:value="${command.smtpPort}" size="5"/>
                <th:block th:replace="helpToolTip(topic=smtpPort)" />
            </td>
        </tr>

        <tr>
            <td th:text="#{advancedsettings.smtpEncryption}"></td>
            <td>
                <select name="smtpEncryption" th:value="${command.smtpEncryption}" style="width:8em">
                    <option value="None" th:text="#{advancedsettings.smtpEncryption.none}"></option>
                    <option value="STARTTLS" th:text="#{advancedsettings.smtpEncryption.starttls}"></option>
                    <option value="SSL/TLS" th:text="#{advancedsettings.smtpEncryption.ssl}"></option>
                </select>
                <th:block th:replace="helpToolTip(topic=smtpEncryption)" />
            </td>
        </tr>

        <tr>
            <td th:text="#{advancedsettings.smtpUser}"></td>
            <td>
                <input name="smtpUser" th:value="${command.smtpUser}" size="20"/>
                <label th:text="#{advancedsettings.smtpPassword}"></label>
                <input type="password" name="smtpPassword" th:value="${command.smtpPassword}" size="20"/>
                <th:block th:replace="helpToolTip(topic=smtpCredentials)" />
            </td>
        </tr>
    </table>

    <table class="indent">
        <tr>
            <td colspan="2">
                <input type="checkbox" name="captchaEnabled" th:checked="${command.captchaEnabled}" id="enablecaptcha"/>
                <label for="enablecaptcha" th:text="#{advancedsettings.enableCaptcha}"></label>
                <th:block th:replace="helpToolTip(topic=captcha)" />
            </td>
        </tr>

        <tr>
            <td th:text="#{advancedsettings.recaptchaSiteKey}"></td>
            <td>
                <input name="recaptchaSiteKey" th:value="${command.recaptchaSiteKey}" size="50"/>
                <th:block th:replace="helpToolTip(topic=recaptchaSiteKey)" />
            </td>
        </tr>

        <tr>
            <td th:text="#{advancedsettings.recaptchaSecretKey}"></td>
            <td>
                <input name="recaptchaSecretKey" th:value="${command.recaptchaSecretKey}" size="50"/>
                <th:block th:replace="helpToolTip(topic=recaptchaSecretKey)" />
            </td>
        </tr>
    </table>

    <table class="indent"><tr><td>
        <input type="checkbox" name="ldapEnabled" th:checked="${command.ldapEnabled}" id="ldap" onclick="enableLdapFields()"/>
        <label for="ldap" th:text="#{advancedsettings.ldapenabled}"></label>
        <th:block th:replace="helpToolTip(topic=ldap)" />
    </td></tr></table>

    <table class="indent" id="ldapTable" style="padding-left:2em;padding-bottom: 1em">
        <tr>
            <td th:text="#{advancedsettings.ldapurl}"></td>
            <td colspan="3">
                <input name="ldapUrl" th:value="${command.ldapUrl}" size="70"/>
                <th:block th:replace="helpToolTip(topic=ldapurl)" />
            </td>
        </tr>

        <tr>
            <td th:text="#{advancedsettings.ldapsearchfilter}"></td>
            <td colspan="3">
                <input name="ldapSearchFilter" th:value="${command.ldapSearchFilter}" size="70"/>
                <th:block th:replace="helpToolTip(topic=ldapsearchfilter)" />
            </td>
        </tr>

        <tr>
            <td th:text="#{advancedsettings.ldapmanagerdn}"></td>
            <td>
                <input name="ldapManagerDn" th:value="${command.ldapManagerDn}" size="20"/>
            </td>
            <td th:text="#{advancedsettings.ldapmanagerpassword}"></td>
            <td>
                <input type="password" th:value="${command.ldapManagerPassword}" name="ldapManagerPassword" size="20"/>
                <th:block th:replace="helpToolTip(topic=ldapmanagerdn)" />
            </td>
        </tr>

        <tr>
            <td colspan="5">
                <input type="checkbox" name="ldapAutoShadowing" th:value="${command.ldapAutoShadowing}" id="ldapAutoShadowing" cssClass="checkbox"/>
                <label for="ldapAutoShadowing" th:text="#{advancedsettings.ldapautoshadowing(${command.brand})}"></label>
                <th:block th:replace="helpToolTip(topic=ldapautoshadowing)" />
            </td>
        </tr>
    </table>

    <p class="warning" th:text="#{advancedsettings.ldapRequiresRestart}"></p>

    <input type="submit" th:value="#{common.save}" style="margin-right:0.3em">
    <a href="nowPlaying.view"><input type="button" th:value="#{common.cancel}"></a>

</form>

</body></html>
