<!DOCTYPE html>

<html>
<head>
    <th:block th:replace="~{head :: common_head}" />
</head>
<body class="mainframe bgcolor1">

<h1>
    <img th:src="${#themes.code('shareImage')}" alt="" style="height:18px;">
    <span style="vertical-align: middle" th:text="#{share.title}"></span>
</h1>

<span th:utext="#{share.warning}"></span>
<p>
    <a th:href="|https://www.facebook.com/sharer.php?u=${model.playUrl}|" target="_blank" rel="noopener noreferrer"><img th:src="${#themes.code('shareFacebookImage')}" alt=""></a>&nbsp;
    <a th:href="|https://www.facebook.com/sharer.php?u=${model.playUrl}|" target="_blank" rel="noopener noreferrer" th:text="#{share.facebook}"></a>
</p>

<p>
    <a th:href="|https://twitter.com/?status=Listening to ${model.playUrl}|" target="_blank" rel="noopener noreferrer"><img th:src="${#themes.code('shareTwitterImage')}" alt=""></a>&nbsp;
    <a th:href="|https://twitter.com/?status=Listening to ${model.playUrl}|" target="_blank" rel="noopener noreferrer" th:text="#{share.twitter}"></a>
</p>
<p th:utext="#{share.link(${model.playUrl})}"></p>

<div style="padding-top:1em">
    <th:block th:if="${!#lists.isEmpty(model.dir)}">
        <div class="back" style="float:left;padding-right:10pt">
            <a th:href="@{/main.view(path=${model.dir.folder.id + ':' + model.dir.path})}" th:text="#{common.back}"></a>
        </div>
    </th:block>
    <th:block th:if="${model.user.settingsRole}">
        <div class="forward" style="float:left"><a th:href="@{/shareSettings.view}" th:text="#{share.manage}"></a></div>
    </th:block>
</div>
</body>
</html>
