<!DOCTYPE html>

<html><head>

  <th:block th:replace="~{head :: common_head}" />
  <th:block th:replace="~{jquery}" />
    <script type="text/javascript" th:src="@{/script/utils.js}"></script>

    <script type="text/javascript" th:inline="javascript">
      function createNewCredsFnc(event) {
        $("#createNewCreds").dialog({resizable: true, width: 600, title: "[(#{credentialsettings.addcredentials})]", position: { my: "top", at: "top", of: window },
            buttons: {
                "[(#{common.cancel})]": function() {
                    $(this).dialog("close");
                },
                "[(#{common.create})]": function() {
                    $(document.getElementById("newCreds")).submit();
                }
            }});

        event.preventDefault();  
      }

      function selectButtonCheckboxAndSubmit(clickedButton, event) {
        clickedButton.nextElementSibling.checked=true;
      }

      var appsSettings = /*[[${appsMap}]]*/ {};
      var decodableEncoders = /*[[${decodableEncoders}]]*/ [];
      var defaultEncoderDecodableOnly = /*[[${preferredEncoderDecodableOnly}]]*/ "";
      var nonDecodableEncoders = /*[[${nonDecodableEncoders}]]*/ [];
      var defaultEncoderNonDecodableAllowed = /*[[${preferredEncoderNonDecodableAllowed}]]*/ "";
      var encoderAliases = /*[[${encoderAliases}]]*/ {};

      function bindNewCredsForm() {

          var app = $('#app').val();
          // enable or disable user name field
          if (appsSettings[app]?.usernameRequired) {
            $('#username').val('').attr('value', '');
            $('#username').prop('disabled', false);
          } else {
            $('#username').prop('disabled', true);
            $('#username').val('Not required').attr('value', 'Not required');
          }

          var el = $('#encoder');
          el.empty();

          var defaultOptionIncluded = false;
          // add decodable options
          el.append($("<option value='notselectable' disabled='disabled'>Decodable</option>"));
          $.each(decodableEncoders, function(k, v) {
            if (v == defaultEncoderNonDecodableAllowed) {
              defaultOptionIncluded = true;
            }
            el.append($("<option></option>").attr("value", v).text(encoderAliases[v] != null ? encoderAliases[v] : v));
          });

          // enable or disable nondecodable options
          if (appsSettings[app]?.nonDecodableEncodersAllowed) {
            el.append($("<option value='notselectable' disabled='disabled'>Non-Decodable</option>"));
            $.each(nonDecodableEncoders, function(k, v) {
              if (v == defaultEncoderNonDecodableAllowed) {
                defaultOptionIncluded = true;
              }
              el.append($("<option></option>").attr("value", v).text(encoderAliases[v] != null ? encoderAliases[v] : v));
            });
          }

          el.val(defaultOptionIncluded ? defaultEncoderNonDecodableAllowed : defaultEncoderDecodableOnly);
      }

      function bindComponentHandling() {
        bindNewCredsForm();

        // need to submit all fields, so remove the disabled restriction
        $('#newCreds').submit(function(e) {
          $('#username').removeAttr('disabled');
        });

        // createNewCreds handling
        $('#app').change(function(ev) {
          bindNewCredsForm();
        });

        // grey out last delete button for airsonic creds
        if ($('.airsonic-cred').length == 1) {
          $('.airsonic-cred .delete-cred').prop('disabled', true);
        }
        
        // blur out sensitive data
        $('.sensitive').hover(function() {
          $(this).removeClass('blur');
        }).mouseout(function() {
          $(this).addClass('blur');
        });

        let open_CreateCredsDialog = /*[[${open_CreateCredsDialog}]]*/ false;
        if(open_CreateCredsDialog) {
          // open create dialog automatically if ordained by server
          $('#createcredsbutton').click();
        }
      }

      $(document).ready(bindComponentHandling);
    </script>
</head>

<body class="mainframe bgcolor1">
<script type="text/javascript" th:src="@{/script/wz_tooltip.js}"></script>
<script type="text/javascript" th:src="@{/script/tip_balloon.js}"></script>

<th:block th:replace="~{settingsHeader::header(cat='credentials',toast=${settings_toast},restricted=${!adminRole})}" />

<h2>Credentials Management</h2>
<div>
<h3>Credentials</h3>
<form method="post" th:action="@{/credentialsSettings/update}" th:object="${command}">

  <table id="credentialsTable">
  <tr>
    <th style="padding:0 0.5em 0 0.5em;border-style:double">ID</th>
    <th style="padding:0 0.5em 0 0.5em;border-style:double" th:text="#{credentialsettings.app}"></th>
    <th style="padding:0 0.5em 0 0.5em;border-style:double" th:text="#{credentialsettings.user}"></th>
    <th style="padding:0 0.5em 0 0.5em;border-style:double" th:text="#{credentialsettings.comments}"></th>
    <th style="padding:0 0.5em 0 0.5em;border-style:double" th:text="#{credentialsettings.created}"></th>
    <th style="padding:0 0.5em 0 0.5em;border-style:double" th:text="#{credentialsettings.updated}"></th>
    <th style="padding:0 0.5em 0 0.5em;border-style:double" th:text="#{credentialsettings.encoder}"></th>
    <th style="padding:0 0.5em 0 0.5em;border-style:double"><span th:text="#{credentialsettings.expires}"></span><th:block th:replace="~{helpToolTip(topic=credentialsdates)}" /></th>
    <th style="padding:0 0.5em 0 0.5em;border-style:double" th:text="#{common.delete}"></th>
  </tr>
  <tr>
    <td style="text-align:center;border-style:dotted" colspan=9>Airsonic Credentials <th:block th:replace="~{helpToolTip((topic=credentialsairsonic))}" /></td>
  </tr>
  <th:block th:each="cred, loopStatus:*{credentials}">
    <tr th:if="${#strings.equalsIgnoreCase(cred.app,'AIRSONIC')}" class="airsonic-cred">
      <td style="padding:0 0.5em 0 0.5em" th:text="${loopStatus.index}"></td>
      <td style="padding:0 0.5em 0 0.5em" th:text="${cred.app.name}"></td>
      <td style="padding:0 0.5em 0 0.5em" th:text="${cred.username}"></td>
      <td style="padding:0 0.5em 0 0.5em" th:text="${cred.comment}"></td>
      <td style="padding:0 0.5em 0 0.5em" th:text="${#temporals.format(cred.created, 'SHORT')}"></td>
      <td style="padding:0 0.5em 0 0.5em" th:text="${#temporals.format(cred.updated,'SHORT')}"></td>
      <td style="padding:0 0.5em 0 0.5em">
        <select th:field="*{credentials[__${loopStatus.index}__].encoder}" style="width:9em">
          <th:block th:if="${ cred.displayComments.contains( 'decodablecred' ) }">
              <option th:if="${!decodableEncoders.contains(cred.encoder) && !nonDecodableEncoders.contains(cred.encoder)}"
                      selected="selected" th:value="${cred.encoder}" th:text="${encoderAliases[cred.encoder] != null ? encoderAliases[cred.encoder] : cred.encoder}"></option>
              <option value="notselectable" disabled="true">Decodable</option>
            <th:block th:each="migratableType:${decodableEncoders}"
                th:with="displayLabelValue=${encoderAliases[migratableType] != null ? encoderAliases[migratableType] : migratableType}">
                <option th:if="${migratableType != cred.encoder}"
                        th:value="${migratableType}"
                      th:text="${displayLabelValue}"></option>
                <option th:if="${migratableType == cred.encoder}"
                  selected="selected" th:value="${migratableType}" th:text="${displayLabelValue}"></option>
            </th:block>
            <option value="notselectable" th:text="Non-decodable" disabled="true"></option>
            <th:block th:each="migratableType:${nonDecodableEncoders}"
            th:with="displayLabelValue=${encoderAliases[migratableType] != null ? encoderAliases[migratableType] : migratableType}">
                <option th:if="${migratableType != cred.encoder}"
                        th:value="${migratableType}" th:text="${displayLabelValue}"></option>
                <option th:if="${migratableType == cred.encoder}"
                        selected="selected" th:value="${migratableType}" th:text="${displayLabelValue}"></option>
            </th:block>
          </th:block>
            <option th:if="${ !cred.displayComments.contains( 'decodablecred' ) }"
                    selected="selected"
                    th:value="${cred.encoder}"
                    th:text="${encoderAliases[cred.encoder] != null ? encoderAliases[cred.encoder] : cred.encoder}"></option>
        </select>
      </td>
      <td><input type="datetime-local"
                 th:field="*{credentials[__${loopStatus.index}__].expiration}" /></td>
      <td style="text-align:center;">
        <input type="checkbox" th:field="*{credentials[__${loopStatus.index}__].markedForDeletion}" class="delete-cred"/>
      </td>
      <td class="warning">
        <input type="hidden" th:field="*{credentials[__${loopStatus.index}__].hash}" />
        <div th:errors="*{credentials[__${loopStatus.index}__].hash}" 
          class="warning" style="width:15em"></div>
      </td>
    </tr>
  </th:block>
  <tr th:if="${ldapAuthEnabledForUser}">
    <td class="warning" style="text-align:center" colspan=9><i th:text="#{credentialsettings.ldapauthenabledforuser}"></i></td>
  </tr>
  <tr><td> </td></tr>

  <tr>
    <td style="text-align:center;border-style:dotted" colspan=9>Third-party Credentials <th:block th:replace="~{helpToolTip((topic=credentialsthirdparty))}" /></td>
  </tr>
  <th:block th:each="cred,loopStatus:*{credentials}">
    <tr th:if="${!#strings.equalsIgnoreCase(cred.app,'AIRSONIC')}">
      <td style="padding:0 0.5em 0 0.5em" th:text="${loopStatus.index}"></td>
      <td style="padding:0 0.5em 0 0.5em" th:text="${cred.app.name}"></td>
      <td style="padding:0 0.5em 0 0.5em" th:text="${cred.username}"></td>
      <td style="padding:0 0.5em 0 0.5em" th:text="${cred.comment}"></td>
      <td style="padding:0 0.5em 0 0.5em" th:text="${#temporals.format(cred.created, 'SHORT')}"></td>
      <td style="padding:0 0.5em 0 0.5em" th:text="${#temporals.format(cred.updated, 'SHORT')}"></td>
      <td style="padding:0 0.5em 0 0.5em">
        <select th:field="*{credentials[__${loopStatus.index}__].encoder}" style="width:9em">
            <option th:if="${!decodableEncoders.contains(cred.encoder)}" selected="selected" th:value="${cred.encoder}"
                    th:text="${encoderAliases[cred.encoder] != null ? encoderAliases[cred.encoder] : cred.encoder}"></option>
          <option value="notselectable" label="Decodable" disabled="true"></option>
          <th:block th:each="migratableType:${decodableEncoders}"
            th:with="displayLabelValue=${encoderAliases[migratableType] != null ? encoderAliases[migratableType] : migratableType}">
              <option th:if="${migratableType != cred.encoder}"
                      th:value="${migratableType}" th:text="${displayLabelValue}"></option>
              <option th:if="${migratableType == cred.encoder}"
                      selected="selected" th:value="${migratableType}" th:text="${displayLabelValue}"></option>
          </th:block>
        </select>
      </td>
      <td><input type="datetime-local" th:field="*{credentials[__${loopStatus.index}__].expiration}" /></td>
      <td style="text-align:center;">
        <input type="checkbox" th:field="*{credentials[__${loopStatus.index}__].markedForDeletion}"
              class="delete-cred" />
      </td>
      <input type="hidden" th:field="*{credentials[__${loopStatus.index}__].hash}" />
      <td class="warning" th:erros="*{credentials[__${loopStatus.index}__].hash}" cssStyle="width:15em">
      </td>
    </tr>
  </th:block>
</table>
<p style="padding-top:1em" th:text="#{credentialsettings.immutable}"></p>
<p style="padding-top:1em;padding-bottom:1em">
    <input type="submit" th:value="#{common.save}" style="margin-right:0.3em"/>
    <input type="button" id="createcredsbutton" th:value="#{credentialsettings.addcredentials}" onclick="createNewCredsFnc(event)"/>
    <input type="reset" th:value="#{common.cancel}" />
</p>
</form>
</div>

<div id="createNewCreds" style="display:none">
  <form method="post" th:action="@{/credentialsSettings.view}" id="newCreds" th:object="${newCreds}">

    <table style="white-space:nowrap" class="indent">
      <tr>
        <td th:text="#{credentialsettings.app}"></td>
        <td>
          <select th:field="*{app}" style="width:15em">
            <option th:each="ap:${apps}" th:value="${ap}" th:text="${ap.name}" ></option>
          </select>
        </td>
        <td class="warning" th:errors="*{app}" style="width: 15em;"></td>
      </tr>

      <tr>
        <td th:text="#{login.username}"></td>
        <td><input th:field=*{username} size="20"/></td>
        <td class="warning" th:errors="*{username}" style="width: 15em;"></td>
      </tr>

      <tr>
        <td th:text="#{credentialsettings.encoder}"></td>
        <td>
          <select th:field="*{encoder}" style="width:15em">
            <option th:value="${preferredEncoderNonDecodableAllowed}">Non-decodable</option>
            <option th:value="${preferredEncoderDecodableOnly}">Decodable</option>
          </select>
          <td class="warning" th:errors="*{encoder}" style="width: 15em;"></td>
        </td>
      </tr>

      <tr>
        <td th:text="#{usersettings.newpassword}"></td>
        <td><input type="password" th:field="*{credential}" size="20"/></td>
        <td class="warning" th:errors="*{credential}" style="width: 15em;"></td>
      </tr>

      <tr>
        <td th:text="#{usersettings.confirmpassword}"></td>
        <td><input type="password" th:field="*{confirmCredential}" size="20"/></td>
        <td class="warning" th:errors="*{confirmCredential}" style="width: 15em;"></td>
      </tr>

      <tr>
        <td th:text="#{credentialsettings.expires}"></td>
        <td>
          <input type="datetime-local" th:field="*{expiration}" />
          <th:block th:replace="~{helpToolTip((topic=credentialsdates))}" />
        </td>
      </tr>
    </table>
  </form>
</div>

<th:block th:if="${adminRole}">
<div>
  <h3 th:text="#{credentialsettings.admincontrols}"></h3>
  <form method="post" th:action="@{/credentialsSettings/admin}" th:object="${adminControls}">

    <table style="white-space:nowrap" class="indent">
      <tr><th colspan=4 style="text-align:left" th:text="#{credentialsettings.systemchecks}"></th></tr>
      <tr th:if="*{legacyCredsPresent == true}">
        <td>
          <span th:text="*{legacyCredsPresent == true}"></span>
          <span th:text="#{credentialsettings.legacycredspresent}"></span>
          <th:block th:replace="~{helpToolTip((topic=credentialslegacypasswords))}" />
        </td>
        <td>
          <button onclick="selectButtonCheckboxAndSubmit(this, event)" th:text="#{credentialsettings.adminmigratelegacytononlegacydefault}">
          </button>
          <input type="checkbox" th:field="*{migrateLegacyCredsToNonLegacyDefault}"
                   value="true" style="display:none" />
        </td>
        <td>
          <button onclick="selectButtonCheckboxAndSubmit(this, event)" th:text='#{credentialsettings.adminmigratelegacytononlegacydecodableonly}'>
          </button>
          <input type="checkbox" th:field="*{migrateLegacyCredsToNonLegacyDecodableOnly}"
                value="true" style="display:none" />
        </td>
      </tr>
      <tr th:if="*{openCredsPresent == true}">
        <td colspan=4 class="warning" th:text="#{credentialsettings.opencredspresent}"></td>
      </tr>
      <tr th:if="*{defaultAdminCredsPresent == true}">
        <td colspan=4 class="warning"  th:text="#{credentialsettings.defaultadmincredspresent}"></td>
      </tr>
    </table>

    <table style="white-space:nowrap" class="indent">
      <tr><th style="text-align:left" th:text="#{credentialsettings.encoders}"></th></tr>
      <tr>
        <td th:text="#{credentialsettings.nondecodableencoder}"></td>
        <td>
          <select th:field="*{nonDecodableEncoder}" style="width:12em">
            <th:block th:each="migratableType:${nonDecodableEncoders}"
              th:with="displayLabelValue=${encoderAliases[migratableType] != null ? encoderAliases[migratableType] : migratableType}">
              <option th:if="${migratableType != nonDecodableEncoder}"
                      th:value="${migratableType}"
                      th:selected="${migratableType == adminControls.nonDecodableEncoder}"
                      th:text="${displayLabelValue}"></option>
              <option th:if="${migratableType == nonDecodableEncoder}"
                      th:selected="${migratableType == adminControls.nonDecodableEncoder}" th:value="${migratableType}" th:text="${displayLabelValue}"></option>
            </th:block>
          </select>
        </td>
        <td>
          <button onclick="selectButtonCheckboxAndSubmit(this, event)" th:text="#{common.save}">
          </button>
          <input type="checkbox" th:field="*{nonDecodableEncoderChanged}" th:value="true" style="display:none" />
        </td>
        <td class="warning" th:errors="*{nonDecodableEncoder}">
        </td>
      </tr>
      <tr>
        <td th:text="#{credentialsettings.decodableencoder}"></td>
        <td>
          <select th:field="*{decodableEncoder}" style="width:12em">
            <th:block th:each="migratableType:${decodableEncoders}"
              th:with="displayLabelValue=${encoderAliases[migratableType] != null ? encoderAliases[migratableType] : migratableType}">
                <option th:if="${migratableType != decodableEncoder}"
                        th:value="${migratableType}" th:text="${displayLabelValue}"
                        th:selected="${#strings.equalsIgnoreCase(#strings.toString(migratableType), adminControls.decodableEncoder)}"></option>
                <option th:if="${migratableType == decodableEncoder}"
                        th:selected="${#strings.equalsIgnoreCase(#strings.toString(migratableType), adminControls.decodableEncoder)}"
                        th:value="|${migratableType} ${adminControls.decodableEncoder}|" th:text="${displayLabelValue}"></option>
            </th:block>
          </select>
        </td>
        <td>
          <button onclick="selectButtonCheckboxAndSubmit(this, event)" th:text="#{common.save}"> 
          </button>
          <input type="checkbox" th:field="*{decodableEncoderChanged}" th:value="true" style="display:none" />
        </td>
        <td class="warning" th:errors="*{decodableEncoder}">
        </td>
      </tr>
      <tr>
        <td><label th:for="${#ids.next('preferNonDecodable')}" th:text="#{credentialsettings.prefernondecodablepasswords}"></label></td>
        <td style="text-align:center;">
          <input type="checkbox" th:field="*{preferNonDecodable}" />
        </td>
        <td>
          <button onclick="selectButtonCheckboxAndSubmit(this, event)" th:text="#{common.save}">
          </button>
          <input type="checkbox" th:field="*{nonDecodablePreferenceChanged}" th:value="true" style="display:none" />
        </td>
      </tr>
      
      <tr><td>&nbsp;</td></tr>

      <tr><th style="text-align:left">Keys</th></tr>
      <tr><td colspan=3 th:text="#{credentialsettings.keepkeyssafe}"></td></tr>
      <tr>
        <td>JWT Key</td>
        <td>
          <input th:field="*{jwtKey}" style="width:15em" class="sensitive blur"/>
          <th:block th:replace="~{helpToolTip((topic=credentialsjwtkey))}" />
        </td>
        <td>
          <button onclick="selectButtonCheckboxAndSubmit(this, event)" th:text="#{common.save}" >
          </button>
          <input type="checkbox" th:field="*{jwtKeyChanged}" th:value="true" style="display:none" />
        </td>
      </tr>
      <tr>
        <td>Encryption Key Password</td>
        <td>
          <input th:field="*{encryptionKey}" style="width:15em" class="sensitive blur"/>
          <th:block th:replace="~{helpToolTip((topic=credentialsencryptionkey))}" />
        </td>
        <td>
          <button onclick="selectButtonCheckboxAndSubmit(this, event)" th:text="#{common.save}">
          </button>
          <input type="checkbox" th:field="*{encryptionKeyChanged}" th:value="true" style="display:none" />
        </td>
      </tr>
      <tr>
        <td>Encryption Key Salt</td>
        <td colspan=2 style="font-size:90%;" class="sensitive blur" th:text="*{encryptionKeySalt}"></td>
      </tr>
    </table>
  </form>
</div>
</th:block>

</body></html>
