<!DOCTYPE html>
<!--
  ~ This file is part of Airsonic.
  ~
  ~ Airsonic is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Airsonic is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Airsonic.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~ Copyright 2013 (C) Sindre Mehus
  -->

<html><head>
    <th:block th:replace="head" />
    <th:block th:replace="jquery" />
    <script type="text/javascript" th:src="@{/script/utils.js}"></script>
</head>

<body class="mainframe bgcolor1">
<script type="text/javascript" th:src="@{/script/wz_tooltip.js}"></script>
<script type="text/javascript" th:src="@{/script/tip_balloon.js}"></script>

<th:block th:replace="settingsHeader::header(cat='dlna',toast=${settings_toast})" />

<form method="post" action="dlnaSettings.view">
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />

    <div>
        <input type="checkbox" name="dlnaEnabled" id="dlnaEnabled" th:checked="${model.dlnaEnabled}" />
        <label for="dlnaEnabled" th:text="#{dlnasettings.enabled}"></label>
    </div>
    <p class="detail" style="width:60%;white-space:normal" th:text="#{dlnasettings.description}"></p>

    <div>
        <span th:text="#{dlnasettings.servername}"></span>
        <input name="dlnaServerName" id="dlnaServerName" size="40"
               th:value="${model.dlnaServerName}" />
    </div>
    <p class="detail" style="width:60%;white-space:normal;padding-top:0" th:text="#{dlnasettings.servername.description}">
    </p>

    <div>
        <label for="dlnaBaseLANURL" th:text="#{dlnasettings.baselanurl}"></label>
        <input type="text" size="50" name="dlnaBaseLANURL" id="dlnaBaseLANURL"
               th:value="${model.dlnaBaseLANURL}" />
    </div>
    <p class="detail" style="width:60%;white-space:normal" th:text="#{dlnasettings.lanurl.description}"></p>

    <p>
        <input type="submit" th:value="#{common.save}" style="margin-right:0.3em">
        <a href='nowPlaying.view'><input type="button" th:value="#{common.cancel}"></a>
    </p>

</form>

</body></html>
