<!DOCTYPE html>

<html>

<head>
    <th:block th:replace="~{head :: common_head}" />
</head>

<body class="mainframe bgcolor1">
    <h1>
        <img th:src="${#themes.code('errorImage')}" alt="" />
        <span style="vertical-align: middle">Error</span>
    </h1>

    <p>
        Airsonic encountered an internal error. You can report this error in the
        <a href="https://github.com/kagemomiji/airsonic-advanced/issues" target="_blank" rel="noopener noreferrer">GitHub Issue</a>.
        Please include the information below.
    </p>

    <div class="back"><a href="javascript:history.go(-1)" th:text="${#messages.msg('common.back')}"></a></div>

    <table class="ruleTable indent">
        <tr>
            <td class="ruleTableHeader">Status</td>
            <td class="ruleTableCell" th:text="${status}"></td>
        </tr>
        <tr>
            <td class="ruleTableHeader">Error</td>
            <td class="ruleTableCell" th:text="${error}">
        </tr>
        <tr>
            <td class="ruleTableHeader">Message</td>
            <td class="ruleTableCell" th:text="${message}"></td>
        </tr>
        <tr>
            <td class="ruleTableHeader">Path</td>
            <td class="ruleTableCell" th:text="${path}"></td>
        </tr>
        <tr>
            <td class="ruleTableHeader">Time</td>
            <td class="ruleTableCell" th:text="${timestamp}"></td>
        </tr>
        <tr>
            <td class="ruleTableHeader">Exception</td>
            <td class="ruleTableCell" th:text="${exception}"></td>
        </tr>
        <tr>
            <td class="ruleTableHeader">Java version</td>
            <td class="ruleTableCell"
                th:text="|${@systemProperties['java.vendor']} ${@systemProperties['java.version']}|"></td>
        </tr>
        <tr>
            <td class="ruleTableHeader">Operating system</td>
            <td class="ruleTableCell" th:text="|${@systemProperties['os.name']} ${@systemProperties['os.version']}|">
            </td>
        </tr>
        <tr>
            <td class="ruleTableHeader">Memory</td>
            <td class="ruleTableCell"
                th:text="|Used ${@runtimeService.getUsedMemory()/1024/1024} of ${@runtimeService.getTotalMemory()/1024/1024} MB|">
            </td>
        </tr>
        <tr>
            <td class="ruleTableHeader" style="vertical-align:top;">Stack trace</td>
            <td class="ruleTableCell" style="white-space:pre">
                <pre th:if=${!#strings.isEmpty(trace)} th:text="${#strings.escapeXml(trace)}"></pre>
            </td>
        </tr>
    </table>

</body>

</html>