<!DOCTYPE html>
<html><head>
    <th:block th:replace="~{head :: common_head}" />
    <th:block th:replace="~{jquery}" />
    <script type="text/javascript" th:src="@{/script/utils.js}"></script>
</head>

<body class="mainframe bgcolor1">
<script type="text/javascript" th:src="@{/script/wz_tooltip.js}"></script>
<script type="text/javascript" th:src="@{/script/tip_balloon.js}"></script>

<th:block th:replace="~{settingsHeader::header(cat='general',toast=${settings_toast})}" />

<form method="post" th:action="@{/generalSettings.view}" th:object="${command}">

    <table style="white-space:nowrap" class="indent">
        <tr>
            <td th:text="#{generalsettings.musicmask}"></td>
            <td>
                <input th:field="*{musicFileTypes}" size="70"/>
                <th:block th:replace="~{helpToolTip((topic=musicmask))}" />
            </td>
        </tr>

        <tr>
            <td th:text="#{generalsettings.videomask}"><</td>
            <td>
                <input th:field="*{videoFileTypes}" size="70"/>
                <th:block th:replace="~{helpToolTip((topic=videomask))}" />
            </td>
        </tr>

        <tr>
            <td th:text="#{generalsettings.coverartmask}"></td>
            <td>
                <input th:field="*{coverArtFileTypes}" size="70"/>
                <th:block th:replace="~{helpToolTip((topic=coverartmask))}" />
            </td>
        </tr>

        <tr>
            <td th:text="#{generalsettings.playlistfolder}"></td>
            <td>
                <input th:field="*{playlistFolder}" size="70"/>
                <th:block th:replace="~{helpToolTip((topic=playlistfolder))}" />
            </td>
        </tr>

        <tr><td colspan="2">&nbsp;</td></tr>

        <tr>
            <td th:text="#{generalsettings.index}"></td>
            <td>
                <input th:field="*{index}" size="70"/>
                <th:block th:replace="~{helpToolTip((topic=index))}" />
            </td>
        </tr>

        <tr>
            <td th:text="#{generalsettings.ignoredarticles}"></td>
            <td>
                <input th:field="*{ignoredArticles}" size="70"/>
                <th:block th:replace="~{helpToolTip((topic=ignoredarticles))}" />
            </td>
        </tr>
        
        <tr>
            <td th:text="#{generalsettings.genreseparators}"></td>
            <td>
                <input th:field="*{genreSeparators}" size="70"/>
                <th:block th:replace="~{helpToolTip((topic=genreseparators))}" />
            </td>
        </tr>

        <tr>
            <td th:text="#{generalsettings.shortcuts}"></td>
            <td>
                <input th:field="*{shortcuts}" size="70"/>
                <th:block th:replace="~{helpToolTip((topic=shortcuts))}" />
            </td>
        </tr>

        <tr><td colspan="2">&nbsp;</td></tr>

        <tr>
            <td th:text="#{generalsettings.language}"></td>
            <td>
                <select th:field="*{localeIndex}" style="width:15em">
                    <option th:each="locale,loopStatus: *{locales}"
                            th:value="${loopStatus.count - 1}" th:text="${locale}"></option>
                </select>
                <th:block th:replace="~{helpToolTip((topic=language))}" />
            </td>
        </tr>

        <tr>
            <td th:text="#{generalsettings.theme}"></td>
            <td>
                <select th:field="*{themeIndex}" style="width:15em">
                    <option th:each="theme,loopStatus: *{themes}"
                            th:value="${loopStatus.count - 1}" th:text="${theme.name}"></option>
                </select>
                <th:block th:replace="~{helpToolTip((topic=theme))}" />
            </td>
        </tr>

        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
            <td th:text="#{generalsettings.coverartsource}"></td>
            <td>
                <select th:field="*{coverArtSource}" style="width:15em">
                    <option th:value="${T(org.airsonic.player.domain.CoverArtSource).FILETAG}" th:text="#{generalsettings.coverartsource.option.filetag}"></option>
                    <option th:value="${T(org.airsonic.player.domain.CoverArtSource).TAGFILE}" th:text="#{generalsettings.coverartsource.option.tagfile}"></option>>
                    <option th:value="${T(org.airsonic.player.domain.CoverArtSource).FILE}" th:text="#{generalsettings.coverartsource.option.file}"></option>
                    <option th:value="${T(org.airsonic.player.domain.CoverArtSource).TAG}" th:text="#{generalsettings.coverartsource.option.tag}"></option>
                </select>
                <th:block th:replace="~{helpToolTip((topic=coverartsource))}" />
            </td>
        </tr>

        <tr>
            <td th:text="#{generalsettings.coverartquality}"></td>
            <td>
                <input th:field="*{coverArtQuality}" size="15em"/>
                <th:block th:replace="~{helpToolTip((topic=coverartquality))}" />
            </td>
        </tr>

        <tr>
            <td th:text="#{generalsettings.coverartconcurrency}"></td>
            <td>
                <input th:field="*{coverArtConcurrency}" size="15em"/>
                <th:block th:replace="~{helpToolTip((topic=coverartconcurrency))}" />
            </td>
        </tr>

        <tr><td colspan="2">&nbsp;</td></tr>

        <tr>
            <td>
            </td>
            <td>
                <input type="checkbox" th:field="*{sortAlbumsByYear}"/>
                <label th:for="${#ids.prev('sortAlbumsByYear')}" th:text="#{generalsettings.sortalbumsbyyear}"></label>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="checkbox" th:field="*{gettingStartedEnabled}"/>
                <label th:for="${#ids.prev('gettingStartedEnabled')}" th:text="#{generalsettings.showgettingstarted}"></label>
            </td>
        </tr>

        <tr><td colspan="2">&nbsp;</td></tr>

        <tr>
            <td th:text="#{generalsettings.welcometitle}"></td>
            <td>
                <input th:field="*{welcomeTitle}" size="70"/>
                <th:block th:replace="~{helpToolTip((topic=welcomemessage))}" />
            </td>
        </tr>
        <tr>
            <td th:text="#{generalsettings.welcomesubtitle}"></td>
            <td>
                <input th:field="*{welcomeSubtitle}" size="70"/>
                <th:block th:replace="~{helpToolTip((topic=welcomemessage))}" />
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top;" th:text="#{generalsettings.welcomemessage}"></td>
            <td>
                <textarea th:field="*{welcomeMessage}" rows="5" cols="70" ></textarea>
                <th:block th:replace="~{helpToolTip((topic=welcomemessage))}" />
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top;" th:text="#{generalsettings.loginmessage}"></td>
            <td>
                <textarea rows="5" cols="70" th:field="*{loginMessage}"></textarea>
                <th:block th:replace="~{helpToolTip((topic=loginmessage))}" />
            </td>
        </tr>
        <tr>
            <td th:text="#{generalsettings.sessionduration}"></td>
            <td>
                <input th:field="*{sessionDuration}" size="15em"/>
                <th:block th:replace="~{helpToolTip((topic=sessionduration))}" />
            </td>
        </tr>

        <tr>
            <td colspan="2" style="padding-top:1.5em">
                <input type="submit" th:value="#{common.save}" style="margin-right:0.3em">
                <a th:href="@{/nowPlaying.view}"><input type="button" th:value="#{common.cancel}"></a>
            </td>
        </tr>

    </table>
</form>

</body></html>
