
<!--
  Shows online help as a balloon tool tip.

PARAMETERS
  topic: Refers to a key in the resource bundle containing the text to display in the tool tip.
-->

<div th:id="|placeholder-${topic}|" style="display:none">
    <div style="font-weight:bold;" th:text="#{helppopup.__${topic}__.title(${'Airsonic'})}"></div>
    <div th:utext="#{helppopup.__${topic}__.text(${'Airsonic'})}"></div>
</div>
<img th:src="@{|/${#themes.code('helpPopupImage')}|}" th:alt="#{common.help}" th:title="#{common.help}" th:data-tip-id="|placeholder-${topic}|" onmouseover="TagToTip(this.getAttribute('data-tip-id'), BALLOON, true, ABOVE, true, OFFSETX, -17, PADDING, 8, WIDTH, -240, CLICKSTICKY, true, CLICKCLOSE, true)" onmouseout="UnTip()"/>
