<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{head :: common_head}" />
    <th:block th:replace="~{jquery}" />

    <script type="text/javascript" th:inline="javascript">
        function init() {
            let musicFoldersExist = /*[[${model.musicFoldersExist}]]*/ false;
            /*[+
            if(!musicFoldersExist) {
                $().toastmessage("showNoticeToast", [[#{top.missing}]]);
            }
            +]*/
            let isIndexBeingCreated = /*[[${model.isIndexBeingCreated}]]*/ false;
            /*[+
            if(isIndexBeingCreated) {
                $().toastmessage("showNoticeToast", [[#{home.scan}]]);
            }
            +]*/
        }

        function refresh() {
            top.main.location.href = top.main.location.href;
        }

        function playShuffle() {
            /*[+
            top.playQueue.onPlayShuffle([[${model.listType}]], [[${model.listOffset}]], [[${model.listSize}]], '[(${model['genre']})]', '[(${model['decade']})]');
            +]*/
        }

    </script>
</head>
<body class="mainframe bgcolor1" onload="init();">
<h1 th:if="${!#strings.isEmpty(model.welcomeTitle)}">
    <img th:src="${#themes.code('homeImage')}" alt="">
    <span style="vertical-align: middle" th:text="${model.welcomeTitle}">Welcome</span>
</h1>

<h2 th:if="${!#strings.isEmpty(model.welcomeSubtitle)}" th:text="${model.welcomeSubtitle}">welcomeSubtitle</h2>

<p th:with="tokens=${ {'random', 'newest', 'starred', 'highest', 'frequent', 'recent', 'decade', 'genre', 'alphabetical'} }">
    <th:block th:each="cat, loopStatus : ${tokens}">
        <span th:if="${loopStatus.count > 1}">&nbsp;|&nbsp;</span>

        <span th:if="${model.listType eq cat}" class="headerSelected" th:utext="#{home.__${cat}__.title}">category</span>
        <span th:if="${model.listType ne cat}" class="header"><a th:href="@{/home(listType=${cat})}" th:utext="#{home.__${cat}__.title}">category</a></span>
    </th:block>
</p>

<table th:replace="~{homePager::table}"></table>

<div th:if="${!#strings.isEmpty(model.welcomeMessage)}"
     th:style="|width:15em;float:right;padding:0 1em 0 1em;border-left:1px solid #${#themes.code('detailColor')}|"
     th:utext="${model.welcomeMessage}"
></div>
<th:block th:each="album, loopStatus : ${model.albums}">
    <div class="albumThumb">
        <th:block th:replace="~{coverArt:: art(albumId=${album.id},
            caption1=${album.albumTitle},
            caption2=${album.artist},
            caption3=${@mediaFileService.calcAlbumThirdCaption(album,#locale)},
            captionCount=3,
            hideOverflow =${true},
            appearAfter=${loopStatus.count * 30},
            showLink=${true},
            coverArtSize=${model.coverArtSize}
        )}" />

        <th:block th:if="${!#strings.isEmpty(album.rating)}"><th:block th:replace="~{rating::rating(${album.id},true,${album.rating})}"></th:block></th:block>

    </div>
</th:block>
<th:block th:if="${model.listSize eq #lists.size(model.albums)}">
    <table th:replace="~{homePager::table}"></table>
</th:block>

</body></html>
