<!DOCTYPE html>
<html><head>
    <th:block th:replace="~{head :: common_head}" />
</head>
<body class="mainframe bgcolor1">

<h1 style="padding-bottom:0.5em" th:text="#{importPlaylist.title}">
</h1>

    <p th:if="${!#lists.isEmpty(model?.playlist)}">
        <span th:text="#{importPlaylist.success(${model.playlist.name})}"></span>
        <script type="text/javascript" th:inline="javascript">
            top.main.location.href = /*[[@{/playlist.view(id=${model.playlist.id})}]]*/ '' ;
        </script>
    </p>

    <p th:if="${!#strings.isEmpty(model?.get('error'))}" class="warning" th:text="#{importPlaylist.error(${model.error})}"></p>

<div style="padding-bottom: 0.25em" th:text="#{importPlaylist.text}">
</div>
<form method="post" enctype="multipart/form-data" th:action="@{/importPlaylist.view}">
    <input type="file" id="file" name="file" size="40"/>
    <input type="submit" th:value="#{common.ok}"/>
</form>


</body></html>
