
<!--
PARAMETERS
  id: ID of file.
  video: Whether the file is a video (default false).
  playEnabled: Whether to show play button (default true).
  addEnabled: Whether to show add next/last buttons (default true).
  downloadEnabled: Whether to show download button (default false).

    starEnabled: Whether to show star/unstar controls (default false).
  starred: Whether the file is currently starred.
  asTable: Whether to put the images in td tags.
  onPlay: Overrides the javascript used for the play action.
-->

<th:block th:fragment="buttons(id)" th:with="playEnabled=${playEnabled ?: true},
                addEnabled=${addEnabled ?: true},
                downloadEnabled=${downloadEnabled ?: false},
                video=${video ?: false},
                starEnabled=${starEnabled ?: false},
                starred=${starred ?: false},
                podcastId=${podcastId ?: ''},
                asTable=${asTable ?: false}">

     <th:block th:if="${starEnabled}">
          <th:block th:if="${asTable}"><td class="fit"></th:block>
          <img th:if="starred" th:id="|starImage${id}|"
               th:src="${#themes.code('ratingOnImage')}" alt="" style="cursor:pointer;height:18px;"
               th:onclick="|toggleStar(${id}, '#starImage${id}'); return false;|"> <img th:unless="starred"
               th:id="|starImage${id}|" th:src="${#themes.code('ratingOffImage')}" alt=""
               style="cursor:pointer;height:18px;" th:onclick="|toggleStar(${id}, '#starImage${id}'); return false;|">

          <th:block th:if="${asTable}"></td></th:block>
     </th:block>

     <th:block th:if="${asTable}">
          <td class="fit">
     </th:block>
     <th:block th:if="${playEnabled}">
          <a th:if="${video}" th:href="@{/videoPlayer(id=${id})}" target="main">
               <img th:src="${#themes.code('playImage')}" th:alt="#{common.play}" th:title="#{common.play}">
          </a>

        <img th:if="${!#strings.isEmpty(podcastId)}" th:src="${#themes.code('playImage')}"
             th:alt="#{common.play}" style="cursor:pointer; height:18px;"
             th:data-podcast-id="${podcastId}"
             onclick="top.playQueue.onPlayPodcastEpisode(this.getAttribute('data-podcast-id')); return false;" th:title="#{common.play}">

        <img th:if="${!video && #strings.isEmpty(podcastId)}" th:src="${#themes.code('playImage')}" th:alt="#{common.play}" style="cursor:pointer; height:18px;"
             th:data-id="${id}" onclick="top.playQueue.onPlay(this.getAttribute('data-id')); return false;" th:title="#{common.play}">
    </th:block>

     <th:block th:if="${asTable}">
          <td class="fit">
     </th:block>
     <img th:if="${addEnabled && !video}" th:id="|add${id}|" th:src="${#themes.code('addImage')}"
          th:alt="#{main.addlast}" th:data-id="${id}" th:data-toast-msg="#{main.addlast.toast}"
          onclick="top.playQueue.onAdd(this.getAttribute('data-id')); $().toastmessage('showSuccessToast', this.getAttribute('data-toast-msg')); return false;"
          style="cursor:pointer; height:18px;" th:title="#{main.addlast}">
     <th:block th:if="${asTable}">
          </td>
     </th:block>
     <th:block th:if="${asTable}">
          <td class="fit">
     </th:block>
     <img th:if="${addEnabled && !video}" th:id="|add${id}|" th:src="${#themes.code('addNextImage')}"
          th:alt="#{main.addnext}" th:data-id="${id}" th:data-toast-msg="#{main.addnext.toast}"
          th:onclick="top.playQueue.onAddNext(this.getAttribute('data-id')); $().toastmessage('showSuccessToast', this.getAttribute('data-toast-msg')); return false;"
          style="cursor:pointer; height:18px;" th:title="#{main.addnext}">
     <th:block th:if="${asTable}">
          </td>
     </th:block>

     <th:block th:if="${asTable}">
          <td class="fit">
     </th:block>
     <a th:if="${downloadEnabled}" th:href="@{/download(id=${id})}">
          <img th:src="${#themes.code('downloadImage')}" th:alt="#{common.download}" th:title="#{common.download}">
     </a>
     <th:block th:if="${asTable}">
          </td>
     </th:block>
</th:block>