<!DOCTYPE html>

<html><head>
    <th:block th:replace="~{head :: common_head}" />
    <th:block th:replace="~{jquery}" />
    <th:block th:replace="~{table}" />
    <script type="text/javascript" th:src="@{/script/utils.js}"></script>
    <script type="text/javascript" th:inline="javascript"
        th:with="paginationaddition=${#strings.contains(' 10 20 50 100 -1', ' '.concat(model.initialPaginationSize ?: '') ) ?
                            '' : ', '.concat(model.initialPaginationSize ?: '')}"
    >
        var playlistId = /*[[${model.playlist.id}]]*/ 0;
        var songs = [];

        function init() {
            var ratingOnImage = /*[[${#themes.code('ratingOnImage')}]]*/ "";
            var ratingOffImage = /*[[${#themes.code('ratingOffImage')}]]*/ "";

            let dataTableConfig = {
                deferRender: true,
                createdRow(row, data, dataIndex, cells) {
                    var rowNode = $(row);
                    if (rowNode.hasClass("selected")) {
                        rowNode.find(".playlistSongIndex input").prop("checked", true);
                    }
                },
                colReorder: true,
                fixedHeader: true,
                stateSave: true,
                stateDuration: 60 * 60 * 24 * 365,
                ordering: true,
                order: [],
                orderFixed: [ 0, 'asc' ],
                orderMulti: false,
                pageLength: /*[[${model.initialPaginationSize}]]*/ 10,
                /*[+
                lengthMenu: [ 
                    [10, 20, 50, 100, -1 [(${paginationaddition})] ], 
                    [10, 20, 50, 100, "All" [(${paginationaddition})] ] 
                ],
                +]*/
                /*[- */
                lengthMenu: [ 
                    [10, 20, 50, 100, -1], 
                    [10, 20, 50, 100, "All"] 
                ],
                /* -]*/

                processing: true,
                autoWidth: true,
                scrollCollapse: true,
                select: {
                style: "multi",
                    selector: ".playlistSongIndex"
                },
                language: {
                    emptyTable: /*[[#{playlist2.empty}]]*/ "",
                },
                ajax: function(ajaxData, callback) {
                    for ( var i=0, len=songs.length ; i<len ; i++ ) {
                        songs[i].seq = i;
                    }
                    callback({data: songs});
                },
                stripeClasses: ["bgcolor2", "bgcolor1"],
                columnDefs: [{ targets: "_all", orderable: false }],
                columns: [
                { data: "seq", className: "detail fit", visible: true },
                { data: null,
                    searchable: false,
                    name: "playlistsongcheckbox",
                    className: "fit not-draggable playlistSongIndex centeralign",
                    title: "<input type='checkbox' class='playlistSelectAll'>",
                    defaultContent: "<input type='checkbox'>"
                },
                { data: "starred",
                    name: "starred",
                    className: "fit not-draggable centeralign",
                    render: function(starred, type) {
                        if (type == "display") {
                            return "<img class='starSong' src='" + (starred ? ratingOnImage : ratingOffImage) + "' style='height:18px;' alt='' title=''>";
                        }
                        return starred ? "onlystarred" : "unstarred";
                    }
                },
                { data: "present",
                    searchable: false,
                    name: "play",
                    className: "fit not-draggable centeralign",
                    render: function(present, type, row) {
                        if (type == "display") {
                            if (present) {
                                return "<img class='playSong' src=\"[(${#themes.code('playImage')})]\" style='height:18px;' alt=\"[(#{common.play})]\" title=\"[(#{common.play})]\">";
                            } else {
                                return "";
                            }
                        }
                        return present ? "available" : "missing";
                    }
                },
                { data: "present",
                    searchable: false,
                    name: "addLast",
                    className: "fit not-draggable centeralign",
                    render: function(present, type, row) {
                        if (type == "display") {
                            if (present) {
                                return "<img class='addSongLast' src=\"[(${#themes.code('addImage')})]\" style='height:18px;' alt=\"[(#{common.add})]\" title=\"[(#{common.add})]\">";
                            } else {
                                return "";
                            }
                        }
                        return present ? "available" : "missing";
                    }
                },
                { data: "present",
                    searchable: false,
                    name: "addNext",
                    className: "fit not-draggable centeralign",
                    render: function(present, type, row) {
                        if (type == "display") {
                            if (present) {
                                return "<img class='addSongNext' src=\"[(${#themes.code('addNextImage')})]\" style='height:18px;' alt=\"[(#{main.addnext})]\" title=\"[(#{main.addnext})]\">";
                            } else {
                                return "";
                            }
                        }
                        return present ? "available" : "missing";
                    }
                },
                { data: "present",
                    className: "detail fit",
                    render: function(present, type, row) {
                        if (type == "display") {
                            if (present) {
                                return "";
                            } else {
                                return "<span class='playlist-missing'>[(#{playlist.missing})]</span>";
                            }
                        }
                        return present ? "available" : "missing";
                    }
                },
                { data: "trackNumber", className: "detail fit", visible: /*[[${model.visibility.trackNumberVisible}]]*/ false, title: "[(#{personalsettings.tracknumber})]" },
                { data: "discNumber", className: "detail fit", visible: /*[[${model.visibility.discNumberVisible}]]*/ false, title: "[(#{personalsettings.discnumber})]" },
                { data: "title",
                    className: "detail songTitle truncate",
                    title: "[(#{edittags.songtitle})]",
                    render: function(title, type, row) {
                        if (type == "display" && title != null) {
                            return $("<span>", {title: title, alt: title, text: title})[0].outerHTML;
                        }
                        return title;
                    }
                },
                { data: "album",
                    className: "detail truncate",
                    visible: /*[[${model.visibility.albumVisible}]]*/ true,
                    title: "[(#{personalsettings.album})]",
                    render: function(album, type, row) {
                        if (type == "display" && album != null) {
                            return $("<a>", {title: album, alt: album, text: album, target: "main"}).attr("href", "main.view?id=" + row.id)[0].outerHTML;
                        }
                        return album;
                    }
                },
                { data: "artist",
                    className: "detail truncate",
                    visible: /*[[${model.visibility.artistVisible}]]*/ true,
                    title: "[(#{personalsettings.artist})]",
                    render: function(artist, type, row) {
                        if (type == "display" && artist != null) {
                            return $("<span>", {title: artist, alt: artist, text: artist})[0].outerHTML;
                        }
                        return artist;
                    }
                },
                { data: "albumArtist",
                    className: "detail truncate",
                    visible: /*[[${model.visibility.albumArtistVisible}]]*/ true,
                    title: "[(#{personalsettings.albumartist})]",
                    render: function(artist, type, row) {
                        if (type == "display" && artist != null) {
                            return $("<span>", {title: artist, alt: artist, text: artist})[0].outerHTML;
                        }
                        return artist;
                    }
                },
                { data: "genre",
                    className: "detail truncate",
                    visible: /*[[${model.visibility.genreVisible}]]*/ true,
                    title: "[(#{personalsettings.genre})]",
                    render(genre, type) {
                        if (type == "display" && genre != null) {
                            return $("<span>", {title: genre, alt: genre, text: genre})[0].outerHTML;
                        }
                        return genre;
                    }
                },
                { data: "year", className: "detail fit rightalign", visible: /*[[${model.visibility.yearVisible}]]*/ false, title: "[(#{personalsettings.year})]" },
                { data: "format", className: "detail fit rightalign", visible: /*[[${model.visibility.formatVisible}]]*/ false, title: "[(#{personalsettings.format})]" },
                { data: "fileSize", className: "detail fit rightalign", visible: /*[[${model.visibility.fileSizeVisible}]]*/ false, title: "[(#{personalsettings.filesize})]" },
                { data: "duration",
                    className: "detail fit rightalign",
                    visible: /*[[${model.visibility.durationVisible}]]*/ true,
                    title: "[(#{personalsettings.duration})]",
                    render: function(data, type, row) {
                        if (type == "display" && data != null) {
                            return formatDuration(Math.round(data));
                        }
                        return data;
                    }
                },
                { data: "bitRate", className: "detail fit rightalign", visible: /*[[${model.visibility.bitRateVisible}]]*/ false, title: "[(#{personalsettings.bitrate})]" },
                { data: "playCount", className: "detail fit rightalign", visible: /*[[${model.visibility.playCountVisible}]]*/ false, title: "[(#{personalsettings.playcount})]" },
                { data: "lastPlayed",
                    className: "detail fit rightalign",
                    visible: /*[[${model.visibility.lastPlayedVisible}]]*/ false,
                    title: "[(#{personalsettings.lastplayed})]",
                    render: function(data, type, row) {
                        if (data != null) {
                            if (type == "display") {
                                return new Date(data).toLocaleString();
                            }
                            return new Date(data).getTime();
                        }
                        return data;
                    }
                },
                { data: "lastScanned",
                    className: "detail fit rightalign",
                    visible: /*[[${model.visibility.lastScannedVisible}]]*/ false,
                    title: "[(#{personalsettings.lastscanned})]",
                    render: function(data, type, row) {
                        if (data != null) {
                            if (type == "display") {
                                return new Date(data).toLocaleString();
                            }
                            return new Date(data).getTime();
                        }
                        return data;
                    }
                },
                { data: "created",
                    className: "detail fit rightalign",
                    visible: /*[[${model.visibility.createdVisible}]]*/ false,
                    title: "[(#{personalsettings.created})]",
                    render: function(data, type, row) {
                        if (data != null) {
                            if (type == "display") {
                                return new Date(data).toLocaleString();
                            }
                            return new Date(data).getTime();
                        }
                        return data;
                    }
                },
                { data: "changed",
                    className: "detail fit rightalign",
                    visible: /*[[${model.visibility.changedVisible}]]*/ false,
                    title: "[(#{personalsettings.changed})]",
                    render: function(data, type, row) {
                        if (data != null) {
                            if (type == "display") {
                                return new Date(data).toLocaleString();
                            }
                            return new Date(data).getTime();
                        }
                        return data;
                    }
                },
                { data: null,
                    searchable: false,
                    name: "remove",
                    visible: /*[[${model.editAllowed}]]*/ false,
                    className: "fit not-draggable centeralign",
                    defaultContent: "<img class='removeSong' src=\"[(${#themes.code('removeImage')})]\" style='height:18px;' alt=\"[(#{playlist.remove})]\" title=\"[(#{playlist.remove})]\">"
                }
            ]
            }

            let editAllowed = /*[[${model.editAllowed}]]*/ false;
            if(editAllowed) {
                dataTableConfig['rowReorder'] = {
                    dataSrc: "seq",
                    selector: "td:not(.not-draggable)"
                }
            }

            playlistMusicTable = $("#playlistMusic").DataTable(dataTableConfig );

            playlistMusicTable.on( 'select', function ( e, dt, type, indexes ) {
                playlistMusicTable.cells( indexes, "playlistsongcheckbox:name" ).nodes().to$().find("input").prop("checked", true);
                updateSelectAllCheckboxStatus();
            } );
            playlistMusicTable.on( 'deselect', function ( e, dt, type, indexes ) {
                playlistMusicTable.cells( indexes, "playlistsongcheckbox:name" ).nodes().to$().find("input").prop("checked", false);
                updateSelectAllCheckboxStatus();
            } );
            $("#playlistMusic tbody").on( "click", ".starSong", function () {
                onStar(playlistMusicTable.row( $(this).parents('tr') ).index());
            } );
            $("#playlistMusic tbody").on( "click", ".playSong", function () {
                onPlay(playlistMusicTable.row( $(this).parents('tr') ).index());
            } );
            $("#playlistMusic tbody").on( "click", ".addSongLast", function () {
                onAdd(playlistMusicTable.row( $(this).parents('tr') ).index());
            } );
            $("#playlistMusic tbody").on( "click", ".addSongNext", function () {
                onAddNext(playlistMusicTable.row( $(this).parents('tr') ).index());
            } );
            $(".playlistSelectAll").on( "change", function (e) {
                selectAll(e.target.checked);
            } );

            top.StompClient.subscribe("playlist.html", {
                '/user/queue/playlists/deleted': function(msg) {
                    deletedPlaylistCallback(JSON.parse(msg.body));
                },
                '/topic/playlists/deleted': function(msg) {
                    deletedPlaylistCallback(JSON.parse(msg.body));
                },
                '/user/queue/playlists/updated': function(msg) {
                    updatedPlaylistCallback(JSON.parse(msg.body));
                },
                '/topic/playlists/updated': function(msg) {
                    updatedPlaylistCallback(JSON.parse(msg.body));
                },
                '/user/queue/playlists/files/[(${model.playlist.id})]': function(msg) {
                    updatedPlaylistEntriesCallback(JSON.parse(msg.body));
                },
                //one-time population only
                '/app/playlists/[(${model.playlist.id})]': function(msg) {
                    updatedPlaylistCallback(JSON.parse(msg.body));
                }
            });

            if(editAllowed) {
                $("#playlistMusic tbody").on( "click", ".removeSong", function () {
                    onRemove([playlistMusicTable.row( $(this).parents('tr') ).index()]);
                } );
                playlistMusicTable.on( "row-reordered", function (e, diff, edit) {
                    if (diff.length > 0) {
                        playlistMusicTable.one( "draw", function () {
                            onRearrange(playlistMusicTable.rows().indexes().toArray());
                        });
                    }
                });

                $("#dialog-edit").dialog({resizable: true, width:400, autoOpen: false,
                    buttons: {
                        "[(#{common.save})]": function() {
                            $(this).dialog("close");
                            var name = $("#newName").val();
                            var comment = $("#newComment").val();
                            var shared = $("#newShared").is(":checked");
                            top.StompClient.send("/app/playlists/update", JSON.stringify({id: playlistId, name: name, comment: comment, shared: shared}));
                        },
                        "[(#{common.cancel})]": function() {
                            $(this).dialog("close");
                        }
                    }});

                $("#dialog-delete").dialog({resizable: false, height: 170, autoOpen: false,
                    buttons: {
                        "[(#{common.delete})]": function() {
                            $(this).dialog("close");
                            top.StompClient.send("/app/playlists/delete", playlistId);
                        },
                        "[(#{common.cancel})]": function() {
                            $(this).dialog("close");
                        }
                    }});
            }
        }

        function updatePlaylistEntries() {
            top.StompClient.send("/app/playlists/files/" + playlistId, "");
        }

        function deletedPlaylistCallback(id) {
            $().toastmessage('showSuccessToast', '[(#{playlist.toast.deletedplaylist})] ' + id);
            if (playlistId == id) {
                location = "playlists.view";
            }
        }

        function updatedPlaylistCallback(playlist) {
            if (playlistId == playlist.id) {
                if (playlist.filesChanged) {
                    updatePlaylistEntries();
                }

                $("#name").text(playlist.name);
                $("#songCount").text(playlist.fileCount);
                $("#duration").text(formatDuration(Math.round(playlist.duration)));
                $("#comment").text(playlist.comment);
                $("#lastupdated").text('[(#{playlist2.lastupdated})] ' + new Date(playlist.changed));

                if (playlist.shared) {
                    $("#shared").html("[(#{playlist2.shared})]");
                } else {
                    $("#shared").html("[(#{playlist2.notshared})]");
                }

                $("#newName").val(playlist.name);
                $("#newComment").val(playlist.comment);
                $("#newShared").prop("checked", playlist.shared);
            }
        }

        function updatedPlaylistEntriesCallback(entries) {
            this.songs = entries
            playlistMusicTable.ajax.reload().columns.adjust();
        }

        function onPlay(index) {
            top.playQueue.onPlayPlaylist(playlistId, index);
        }
        function onPlayAll() {
            top.playQueue.onPlayPlaylist(playlistId);
        }
        function onAddAll() {
            top.playQueue.onAddPlaylist(playlistId);
        }
        function onAdd(index) {
            top.playQueue.onAdd(songs[index].id);
            $().toastmessage('showSuccessToast', '[(#{main.addlast.toast})]')
        }
        function onAddNext(index) {
            top.playQueue.onAddNext(songs[index].id);
            $().toastmessage('showSuccessToast', '[(#{main.addnext.toast})]')
        }
        function onStar(index) {
            songs[index].starred = !songs[index].starred;

            if (songs[index].starred) {
                top.StompClient.send("/app/rate/mediafile/star", JSON.stringify([songs[index].id]));
            } else {
                top.StompClient.send("/app/rate/mediafile/unstar", JSON.stringify([songs[index].id]));
            }
            playlistMusicTable.cell(index, "starred:name").invalidate();
        }

        function onRemove(indexes) {
            top.StompClient.send("/app/playlists/files/remove", JSON.stringify({id: playlistId, modifierIds: indexes}));
        }
        function onRearrange(indexes) {
            top.StompClient.send("/app/playlists/files/rearrange", JSON.stringify({id: playlistId, modifierIds: indexes}));
        }
        function onEditPlaylist() {
            $("#dialog-edit").dialog("open");
        }
        function onDeletePlaylist() {
            $("#dialog-delete").dialog("open");
        }
        <!-- actionSelected() is invoked when the users selects from the "More actions..." combo box. -->
        function actionSelected(id) {
          if (id == "top") {
              return;
          } else if (id == "removeSelected") {
              this.onRemove(playlistMusicTable.rows({ selected: true }).indexes().toArray());
          }
        }

        function selectAll(b) {
            if (b) {
                playlistMusicTable.rows().select();
            } else {
                playlistMusicTable.rows().deselect();
            }
        }

        function updateSelectAllCheckboxStatus() {
            if (playlistMusicTable.rows({selected: true}).indexes().length == 0) {
                $('.playlistSelectAll').prop('checked', false);
                $('.playlistSelectAll').prop('indeterminate', false);
            } else if (playlistMusicTable.rows({selected: true}).indexes().length == playlistMusicTable.rows().indexes().length) {
                $('.playlistSelectAll').prop('checked', true);
                $('.playlistSelectAll').prop('indeterminate', false);
            } else {
                $('.playlistSelectAll').prop('indeterminate', true);
            }
        }
    </script>

    <style type="text/css">
        .playlist-missing {
            color: red;
            border: 1px solid red;
            padding-left: 5px;
            padding-right: 5px;
            margin-right: 5px;
        }
    </style>

</head>
<body class="mainframe bgcolor1" onload="init()">

<div style="float:left;margin-right:1.5em;margin-bottom:1.5em">
    <th:block th:replace="~{coverArt::art(playlistId=${model.playlist.id}, coverArtSize=${160})}" />
</div>

<h1><a th:href="@{/playlists}" th:text="#{left.playlists}"></a> &raquo; <span id="name"></span></h1>
<h2>
    <span class="header"><a href="javascript:void(0)" onclick="onPlayAll();" th:text="#{common.play}"></a></span>
        | <span class="header"><a href="javascript:void(0)" onclick="onAddAll();" th:text="#{main.addall}"></a></span>
    <th:block th:if="${model.user.downloadRole}">
        | <span class="header"><a th:href="@{/download(playlist=${model.playlist.id})}" th:text="#{common.download}"></a></span>
    </th:block>
    <th:block th:if="${model.user.shareRole}">
        | <span class="header"><a th:href="@{/createShare(playlist=${model.playlist.id})}" th:text="#{share.title}"></a></span>
    </th:block>
    <th:block th:if="${model.editAllowed}">
        | <span class="header"><a href="javascript:void(0)" onclick="onEditPlaylist();" th:text="#{common.edit}"></a></span>
        | <span class="header"><a href="javascript:void(0)" onclick="onDeletePlaylist();" th:text="#{common.delete}"></a></span>
    </th:block>
    | <span class="header"><a th:href="@{/exportPlaylist(id=${model.playlist.id})}" th:text="#{playlist2.export}"></a></span>

</h2>

<div id="comment" class="detail" style="padding-top:0.2em"></div>

<div class="detail" style="padding-top:0.2em">
    <span id="songCount"></span> <span th:text="#{playlist2.songs}"></span> &ndash; <span id="duration"></span>
</div>
<div class="detail" style="padding-top:0.2em">
    <span th:text="#{playlist2.created(${model.playlist.username}, ${#dates.format(model.playlist.created, 'MMMM d, y')} )}"></span>
    <span th:text="${created}"></span>
</div>
<div class="detail" style="padding-top:0.2em">
    <span id="lastupdated"></span>.
</div>
<div class="detail" style="padding-top:0.2em">
    <span id="shared"></span>.
</div>

<div style="height:0.7em;clear:both"></div>

<table class="music indent hover nowrap stripe compact" th:classappend="${model.visibility.headerVisible != true?'hide-table-header':''}" id="playlistMusic" style="cursor: pointer; width: 100%;">
</table>

<th:block th:if="${model.editAllowed}">
<div  id="moreactions" style="white-space:nowrap;">
    <span class="header">
        <select id="moreActions" onchange="actionSelected(options[selectedIndex].id)">
            <option id="top" selected="selected" th:text="#{playlist.more}"></option>
            <optgroup th:label="#{playlist.more.selection}">
                <option id="removeSelected" th:text="#{playlist.remove}"></option>
            </optgroup>
        </select>
    </span>
</div>

<div id="dialog-delete" th:title="#{common.confirm}" style="display: none;">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        <span th:text="#{playlist2.confirmdelete}"></span></p>
</div>

<div id="dialog-edit" th:title="#{common.edit}" style="display: none;">
    <form>
        <label for="newName" style="display:block;" th:text="#{playlist2.name}"></label>
        <input type="text" name="newName" id="newName" value="" class="ui-widget-content"
               style="display:block;width:95%;"/>
        <label for="newComment" style="display:block;margin-top:1em" th:text="#{playlist2.comment}"></label>
        <input type="text" name="newComment" id="newComment" value="" class="ui-widget-content"
               style="display:block;width:95%;"/>
        <input type="checkbox" name="newShared" id="newShared" style="margin-top:1.5em" class="ui-widget-content"/>
        <label for="newShared" th:text="#{playlist2.public}"></label>
    </form>
</div>
</th:block>

</body></html>
