<!DOCTYPE html>
<!--
  ~ This file is part of Airsonic.
  ~
  ~  Airsonic is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU General Public License as published by
  ~  the Free Software Foundation, either version 3 of the License, or
  ~  (at your option) any later version.
  ~
  ~  Airsonic is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with Airsonic.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~  Copyright 2024 (C) Y.Tory
  ~  Copyright 2015 (C) Sindre Mehus
  -->

<html><head>
    <th:block th:replace="~{head :: common_head}" />
    <th:block th:replace="~{jquery}" />

    <script type="text/javascript" th:inline="javascript">
        function init() {
            $("#dialog-delete").dialog({resizable: false, height: 170, autoOpen: false,
                buttons: {
                    /*[+
                    [(#{common.delete})]: function() {
                        location.href = "[(@{/podcastReceiverAdmin.view(channelId=${command.channel.id}, deleteChannel=${command.channel.id})})]";
                    },
                    [(#{common.cancel})]: function() {
                        $(this).dialog("close");
                    }
                    +]*/
                    /*[-*/
                    "Delete": function() {
                        location.href = "podcastReceiverAdmin.view?channelId=0" +
                                "&deleteChannel=0";
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                    /*-]*/
                }});
                
              $( '#episodessa' ).click( function () {
                  $( '.music tr input[type="checkbox"]' ).prop('checked', this.checked);
                  countSelected();
              });

            feather.replace();
            Array.from(document.querySelectorAll('svg.feather[title]')).forEach((element) => {
               element.insertAdjacentHTML('afterbegin', `<title>${element.attributes.title.value}</title>`);
            });
            countSelected();
        }

        function deleteChannel() {
            $("#dialog-delete").dialog("open");
        }

        function refreshChannels() {
            /*[+
            location.href = "[(@{/podcastReceiverAdmin.view(refresh,channelId=${command.channel.id})})]";
            +]*/
            /*[-*/
            location.href = "podcastReceiverAdmin.view?refresh&channelId=0";
            /*-]*/
        }

        function actionSelected(action) {
            switch (action) {
                case "download":
                    $('input[type=submit]#download-selected').click();
                    break;
                case "delete":
                    $('input[type=submit]#delete-selected').click();
                    break;
                case "lock":
                    $('input[type=submit]#lock-selected').click();
                    break;
                case "unlock":
                    $('input[type=submit]#unlock-selected').click();
                    break;
                default:
                    break;
            }
        }

        function countSelected() {
            var count = 0;
            $('.music tr input[type="checkbox"]').each(function() {
                if ($(this).prop('checked')) {
                    count++;
                }
            });
            if (count == 0) {
                $('#episode-control td#selected-action').hide();
            } else {
                $('#episode-control td#selected-action').show();
            }
        }

    </script>
    <style type="text/css">
      .music .center {
          text-align: center;
      }
      .music .left {
          text-align: left;
      }
      #episode-control td{
          height: 28px;
          vertical-align: middle;
          padding: 0 0.5em;
      }
      #episode-control td#selected-action{
          display: none;
      }
    </style>
</head>
<body class="mainframe bgcolor1" onload="init()">

<div style="float:left;margin-right:1.5em;margin-bottom:1em">
    <th:block th:replace="~{coverArt::art(podcastChannelId=${command.channel.id}, coverArtSize=${160})}" />
</div>

<h1 id="name"><a th:href="@{/podcastChannels.view}" th:text="#{podcastreceiver.title}"></a> &raquo; <span th:text="${command.channel.title}"></span></h1>
<h2>
    <span class="header"><a th:href="|javascript:top.playQueue.onPlayPodcastChannel(${command.channel.id})|" th:text="#{common.play}"></a></span>

    <th:block th:if="${command.user.podcastRole}">
        | <span class="header"><a href="javascript:deleteChannel()" th:text="#{common.delete}"></a></span>
        | <span class="header"><a href="javascript:refreshChannels()" th:text="#{podcastreceiver.check}"></a></span>
    </th:block>
    <th:block th:if="*{user.adminRole}">
        | <span class="header"><a th:href="@{/podcastSettings.view}" th:text="#{podcastreceiver.settings}"></a></span>
    </th:block>
</h2>

<div class="detail" style="padding-top:0.2em;white-space:normal;width:80%" th:text="${command.channel.description}"></div>

<div class="detail" style="padding-top:1.0em">
    <span th:text="#{podcastreceiver.episodes(${#lists.size(command.episodes)})}"></span> &ndash;
    <span th:text="#{podcastreceiver.status.__${#strings.toLowerCase(command.channel.status)}__}"></span>
    <span th:if="${command.channel.status.name eq 'ERROR'}" class="warning" th:text="${command.channel.errorMessage}"></span>
</div>

<div style="height:0.7em;clear:both"></div>

<hr/>
<form th:action="@{/podcastChannel.view}" method="post" id="form-selected">
<input type="hidden" id="channelId" name="channelId" th:value="${command.channel.id}"/>
<table id="episode-control"><tr>
    <td style="padding-left:1em"><span><a th:href=@{podcastChannel.view(id=${command.channel.id})}><i data-feather="refresh-cw" role="img" th:aria-label="#{podcastreceiver.refresh}"
                        th:title="#{podcastreceiver.refresh}"></i></a></span></td>
    <th:block th:if="${command.user.podcastRole}">
        <td id="selected-action"><a href="javascript:actionSelected('download')"><i data-feather="download-cloud" role="img" th:aria-label="#{podcastreceiver.downloadselected}" th:title="#{podcastreceiver.downloadselected}"></i></a></td>
        <td id="selected-action"><a href="javascript:actionSelected('delete')"><i data-feather="trash-2" role="img" th:aria-label="#{podcastreceiver.deleteselected}" th:title="#{podcastreceiver.deleteselected}"></i></a></td>
        <td id="selected-action"><a href="javascript:actionSelected('lock')"><i data-feather="lock" role="img" th:aria-label="#{podcastreceiver.lockselected}" th:title="#{podcastreceiver.lockselected}"></i></td>
        <td id="selected-action"><a href="javascript:actionSelected('unlock')"><i data-feather="unlock" role="img" th:aria-label="#{podcastreceiver.unlockselected}" th:title="#{podcastreceiver.unlockselected}"></i></a></td>
        <input type="submit" id="download-selected" name="download" th:value="#{podcastreceiver.downloadselected}" style="display: none;"/>
        <input type="submit" id="delete-selected" name="delete" th:value="#{podcastreceiver.deleteselected}" style="display: none;"/>
        <input type="submit" id="lock-selected" name="lock" th:value="#{podcastreceiver.lockselected}" style="display: none;"/>
        <input type="submit" id="unlock-selected" name="unlock" th:value="#{podcastreceiver.unlockselected}" style="display: none;"/>
    </th:block>
</tr></table>


<div id="dialog-delete" th:title="#{common.confirm}" style="display: none;">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        <span th:text="#{podcastreceiver.confirmdelete}"></span></p>
</div>
</form>

<table class="music">
        <tr>
            <th class="fit center"><input type="checkbox" id="episodessa" value="all"/></th>
            <th colspan="5"></th>
            <th class="truncate left" th:text="#{podcastreceiver.episode}"></th>
            <th class="fit center" th:text="#{personalsettings.duration}"></th>
            <th class="fit left" th:text="#{podcastreceiver.published}"></th>
            <th class="fit center" th:text="#{top.status}"></th>
            <th class="truncate left" th:text="#{sharesettings.description}"></th>
        </tr>
        <tr th:each="episode, loopStatus: ${command.episodes}">
            <input type="hidden" th:field="${command.episodes[__${loopStatus.index}__].id}" form="form-selected"/>
            <input type="hidden" th:field="${command.episodes[__${loopStatus.index}__].status}" form="form-selected"/>

            <td class="fit center"><input type="checkbox" th:field="${command.episodes[__${loopStatus.index}__].selected}" form="form-selected" onchange="countSelected()"/></td>

            <th:block th:if="${#strings.isEmpty(episode.mediaFile?.id) or episode.status.name ne 'COMPLETED'}">
                <td colspan="4"></td>
            </th:block>
            <th:block th:if="${!#strings.isEmpty(episode.mediaFile?.id) && episode.status.name eq 'COMPLETED'}">
                    <th:block th:replace="~{playButtons::buttons(
                        id=${episode.mediaFile.id},
                        playEnabled=${command.user.streamRole and !command.partyModeEnabled },
                        addEnabled=${command.user.streamRole and !command.partyModeEnabled },
                        asTable=true,
                        podcastId=${episode.id}
                    )}" />
            </th:block>
            <td class="fit center">
                <th:block th:if="${episode.locked}">
                <span><i data-feather="lock" role="img" th:aria-label="#{podcastreceiver.locked}"
                        th:title="#{podcastreceiver.locked}" class="feather-sm"></i></span>
                </th:block>
                <th:block th:if="${!episode.locked && (episode.status.name eq 'COMPLETED' or episode.status.name eq 'SKIPPED')}">
                <span><i data-feather="unlock" role="img" th:aria-label="#{podcastreceiver.unlocked}"
                        th:title="#{podcastreceiver.unlocked}" class="feather-sm feather-weak"></i></span>
                </th:block>
            </td>
            <td class="truncate">
                    <span th:title="${episode.title}" class="songTitle" th:text="${episode.title}"></span>
            </td>

            <td class="fit center">
                <span class="detail" th:text="${episode.duration}"></span>
            </td>

            <td class="fit left">
                <span class="detail" th:text="${#temporals.format(episode.publishDate, 'MEDIUM')}"></span>
            </td>

            <td class="fit center">
                <span class="detail">
                        <span th:if="${episode.status.name eq 'DOWNLOADING'}" th:text="${#numbers.formatPercent(episode.completionRate, 1 ,1)}">
                        </span>
                        <span th:if="${episode.status.name ne 'DOWNLOADING'}" th:text="#{podcastreceiver.status.__${#strings.toLowerCase(episode.status)}__}">
                        </span>
                </span>
            </td>

            <td class="truncate">
                <span th:if="${episode.status.name eq 'ERROR'}" class="detail warning" th:title="${episode.errorMessage}"
                    th:text="${episode.errorMessage}"></span>
                <span th:if="${episode.status.name ne 'ERROR'}" class="detail" th:title="${episode.description}"
                    th:text="${episode.description}"></span>
            </td>

        </tr>
</table>


</body></html>
