<!DOCTYPE html>
<html>
<head>
    <th:block th:replace="~{head :: common_head}" />
    <th:block th:replace="~{jquery}" />
    <script type="text/javascript" th:src="@{/script/utils.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        function scanningStatus(msg) {
            var scanInfo = JSON.parse(msg.body);
            $("#scanCount").text(scanInfo.count);
            if (scanInfo.scanning) {
                $("#scanningStatus").show();
            } else {
                $("#scanningStatus").hide();
            }
        }

        function init() {
            let showNowPlaying = /*[[${model.showNowPlaying}]]*/ false;
            let sub;
            if(!showNowPlaying) {
                sub = {
                    // no need to populate initial because the updates will occur frequently enough and are self-sufficient
                    '/topic/scanStatus': scanningStatus
                }
            } else {
                sub = {
                    // no need to populate initial because the updates will occur frequently enough and are self-sufficient
                    '/topic/scanStatus': scanningStatus,
                    '/topic/nowPlaying/current/add': function (msg) {
                        addStatus(JSON.parse(msg.body), 'nowPlaying');
                    },
                    '/topic/nowPlaying/current/remove': function (msg) {
                        removeStatus(JSON.parse(msg.body), 'nowPlaying');
                    },
                    '/topic/nowPlaying/recent/add': function (msg) {
                        addStatus(JSON.parse(msg.body), 'recentlyPlayed');
                    },
                    '/topic/nowPlaying/recent/remove': function (msg) {
                        removeStatus(JSON.parse(msg.body), 'recentlyPlayed');
                    },
                    // Add existing (initial population, one time)
                    '/app/nowPlaying/current': function (msg) {
                        $('#nowPlayingTable').empty();
                        removeStatus({}, 'nowPlaying');
                        var statuses = JSON.parse(msg.body);
                        for (var i = 0; i < statuses.length; i++) {
                            addStatus(statuses[i], 'nowPlaying');
                        }
                    },
                    '/app/nowPlaying/recent': function (msg) {
                        $('#recentlyPlayedTable').empty();
                        removeStatus({}, 'recentlyPlayed');
                        var statuses = JSON.parse(msg.body);
                        for (var i = 0; i < statuses.length; i++) {
                            addStatus(statuses[i], 'recentlyPlayed');
                        }
                    }
                }

            }

            top.StompClient.subscribe("right.html", sub);
        }

        function addStatus(status, table) {
            var html = "";
            html += "<tr><td colspan='2' class='detail' style='padding-top:1em;white-space:nowrap'>";

            if (status.avatarUrl) {
                html += "<img alt='Avatar' src='" + status.avatarUrl + "' style='padding-right:5pt;width:30px;height:30px'>";
            }
            html += "<b>" + status.username + "</b></td></tr>";

            html += "<tr><td class='detail' style='padding-right:1em'>" +
                    "<a title='" + status.tooltip + "' target='main' href='" + status.albumUrl + "'>";

            if (status.artist != null) {
                html += status.artist + "<br/>";
            }

            html += "<span class='songTitle'>" + status.title + "</span></a><br/>";
            if (status.lyricsUrl != null) {
                html += "<span class='forward'><a href='" + status.lyricsUrl + "' onclick=\"return popupSize(this, 'lyrics', 500, 550)\">" +
                        /*[[#{main.lyrics}]]*/ "Lyrics" + "</a></span>";
            }
            html += "</td><td>" +
                    "<a title='" + status.tooltip + "' target='main' href='" + status.albumUrl + "'>" +
                    "<img alt='Cover art' src='" + status.coverArtUrl + "' class='dropshadow' height='60' width='60'></a>" +
                    "</td></tr>";

            var minutesAgo = status.minutesAgo;
            if (minutesAgo > 4) {
                html += "<tr><td class='detail' colspan='2'>" + minutesAgo + "[(#{main.minutesago})]</td></tr>";
            }

            $('.playstatus-'+status.transferId).remove();
            $('#' + table + 'Table').append($(html).addClass('playstatus-'+status.transferId).addClass('mediafile-'+status.mediaFileId));
            $('#' + table).show();
        }

        function removeStatus(status, table) {
            $('.playstatus-'+status.transferId+'.mediafile-'+status.mediaFileId).remove();
            if ($('#' + table + 'Table').children().length == 0) {
                $('#' + table).hide();
            }
        }
    </script>
</head>
<body class="bgcolor1 rightframe" style="padding-top:2em" onload="init()">

    <div th:if="${model.newVersionAvailable}" class="warning" style="padding-bottom: 1em"
        th:utext="#{top.upgrade(${model.brand}, ${model.latestVersion}, ${model.latestVersion.url})}">
    </div>

    <div id="scanningStatus" style="display: none;" class="warning">
        <img th:src="${#themes.code('scanningImage')}" title="" alt=""> <span th:text="#{main.scanning}"></span> <span id="scanCount"></span>
    </div>

    <div id="nowPlaying" style='display:none'>
        <h2 th:text="#{main.nowplaying}"></h2>
        <table id="nowPlayingTable" style='width:100%'></table>
    </div>

    <div id="recentlyPlayed" style='display:none'>
        <h2 th:text="#{main.recentlyplayed}"></h2>
        <table id="recentlyPlayedTable" style='width:100%'></table>
    </div>

</body>
</html>
