<!DOCTYPE html>
<html><head>
    <th:block th:replace="~{head :: common_head}" />
    <th:block th:replace="~{jquery}" />

    <script type="text/javascript" th:inline="javascript">

        function showMoreArtists() {
            $('.artistRow').show(); $('#moreArtists').hide();
        }

        function showMoreAlbums() {
            $('.albumRow').show(); $('#moreAlbums').hide();
        }

        function showMoreSongs() {
            $('.songRow').show();$('#moreSongs').hide();
        }

    </script>
</head>
<body class="mainframe bgcolor1">

<h1>
    <img th:src="${#themes.code('searchImage')}" alt=""/>
    <span style="vertical-align: middle" th:text="#{search.title}"></span>
</h1>

<p th:if="${command.indexBeingCreated}" class="warning" th:text="#{search.index}"></p>

<p th:if="${!command.indexBeingCreated and #lists.isEmpty(command.artists) and #lists.isEmpty(command.albums) and #lists.isEmpty(command.songs)}" class="warning" th:text="#{search.hits.none}"></p>

<th:block th:if="${!#lists.isEmpty(command.artists)}">
    <h2><b th:text="#{search.hits.artists}"></b></h2>
    <table class="music indent">
        <th:block th:each="match, loopStatus:${command.artists}">

            <tr class="artistRow" th:stayle="${loopStatus.count > 5 ? 'display:none' : ''}">
                <th:block th:replace="~{playButtons :: buttons(id=${match.value}, playEnabled=${command.user.streamRole and !command.partyModeEnabled},
                    addEnabled=${command.user.downloadRole and !command.partyModeEnabled}, asTable=true)}" />
                <td class="truncate"><a th:href="@{/main.view(id=${match.value})}" th:text="${match.key}"></a></td>
            </tr>

            </th:block>
    </table>
    <div th:if="${#lists.size(command.artists) gt 5}" id="moreArtists" class="forward">
        <a href="javascript:showMoreArtists()" th:text="#{search.hits.more}"></a>
    </div>
</th:block>

<th:block th:if="${!#lists.isEmpty(command.albums)}">
    <h2><b th:text="#{search.hits.albums}"></b></h2>
    <table class="music indent">
        <th:block th:each="match,loopStatus:${command.albums}">

            <tr class="albumRow" th:style="${loopStatus.count > 5 ? 'display:none' : ''}" >
                <th:block th:replace="~{playButtons :: buttons(
                        id=${match.value},
                        playEnabled=${command.user.streamRole and !command.partyModeEnabled},
                        addEnabled=${command.user.downloadRole and !command.partyModeEnabled},
                        asTable=true)}" />

                <td class="truncate"><a th:href="@{/main.view(id=${match.value})}" th:text="${match.key.key}"></a></td>
                <td class="truncate"><span class="detail" th:text="${match.key.value}"></span></td>
            </tr>

            </th:block>
    </table>
    <th:block th:if="${#lists.size(command.albums) gt 5}">
        <div id="moreAlbums" class="forward"><a href="javascript:showMoreAlbums()" th:text="#{search.hits.more}"></a></div>
    </th:block>
</th:block>


<th:block th:if="${!#lists.isEmpty(command.songs)}">
    <h2><b th:text="#{search.hits.songs}"></b></h2>
    <table class="music indent">
        <th:block th:each="match,loopStatus:${command.songs}">

            <tr class="songRow" th:style="${loopStatus.count > 15 ? 'display:none' : ''}">
                    <th:block th:replace="~{playButtons :: buttons(id=${match.id},
                            playEnabled=${command.user.streamRole and !command.partyModeEnabled},
                            addEnabled=${command.user.downloadRole and !command.partyModeEnabled},
                            video=${match.video and command.player.web},
                            asTable=true)}" />

                <td class="truncate"><span class="songTitle" th:text="${match.title}"></span></td>
                <td class="truncate"><a th:href="@{/main.view(path=${match.folder.id+':'+match.parentPath})}">
                    <span class="detail" th:text="${match.albumName}"></span></a></td>
                <td class="truncate"><span class="detail" th:text="${match.artist}"></span></td>
            </tr>

        </th:block>
    </table>
    <div th:if="${#lists.size(command.songs) gt 15}" id="moreSongs" class="forward">
        <a href="javascript:showMoreSongs()" th:text="#{search.hits.more}"></a></div>
</th:block>

</body></html>