<!DOCTYPE html>
<!--/*
  ~ This file is part of Airsonic.
  ~
  ~  Airsonic is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU General Public License as published by
  ~  the Free Software Foundation, either version 3 of the License, or
  ~  (at your option) any later version.
  ~
  ~  Airsonic is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with Airsonic.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~  Copyright 2024 (C) Y.Tory
  ~  Copyright 2015 (C) Sindre Mehus
  */-->

<html>
<head>
    <th:block th:replace="~{head :: common_head}" />
    <th:block th:replace="~{jquery}" />
</head>

<body class="mainframe bgcolor1">
<script type="text/javascript" th:src="@{/script/wz_tooltip.js}"></script>
<script type="text/javascript" th:src="@{/script/tip_balloon.js}"></script>

<th:block th:replace="~{settingsHeader::header(cat='sonos',toast=${settings_toast})}" />

<form method="post" action="sonosSettings.view">
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />

    <div>
        <input type="checkbox" name="sonosEnabled" id="sonosEnabled" th:checked="${model.sonosEnabled}"/>
        <label for="sonosEnabled" th:text="#{sonossettings.enabled}"></label>
    </div>

    <p class="detail" style="width:60%;white-space:normal" th:text="#{sonossettings.description}"></p>

    <p><label th:text="#{sonossettings.linkMethod}"></label></p>
    <div><label>
        <input type="radio" name="sonosLinkMethod" value="APPLICATION_LINK"
               th:checked="${model.sonosLinkMethod == 'APPLICATION_LINK'}" th:text="#{sonossettings.linkMethod.applicationLink}">
    </label></div>
    <p class="detail" style="width:60%;white-space:normal;padding-top:0" th:utext="#{sonossettings.linkMethod.applicationLink.description}">
    </p>
    <p class="detail" style="width:60%;white-space:normal"><span th:text="#{sonossettings.existinglinks}"></span>
    <table id="sonosLinksTable">
        <tr>
          <th style="padding:0 0.5em 0 0.5em;border-style:double">Linkcode</th>
          <th style="padding:0 0.5em 0 0.5em;border-style:double">User</th>
          <th style="padding:0 0.5em 0 0.5em;border-style:double">Household</th>
          <th style="padding:0 0.5em 0 0.5em;border-style:double">Initiator</th>
          <th style="padding:0 0.5em 0 0.5em;border-style:double">Initiated</th>
        </tr>
        <tr>
            <td style="text-align:center;border-style:dotted" colspan=5 th:text="#{sonossettings.existinglinks}"></td>
        </tr>
        <tr th:each="elink:${model.existingLinks}">
          <td style="padding:0 0.5em 0 0.5em" th:text="${elink.linkcode}"></td>
          <td style="padding:0 0.5em 0 0.5em" th:text="${elink.username}"></td>
          <td style="padding:0 0.5em 0 0.5em" th:text="${elink.householdId}"></td>
          <td style="padding:0 0.5em 0 0.5em" th:text="${elink.initiator}"></td>
          <td style="padding:0 0.5em 0 0.5em" th:text="${#temporals.format(elink.initiated,'SHORT')}"></td>
        </tr>
        <tr>
            <td style="text-align:center;border-style:dotted" colspan=5 th:text="#{sonossettings.pendinglinks}"></td>
        </tr>
        <tr th:each="plink:${model.pendingLinks}">
          <td style="padding:0 0.5em 0 0.5em" th:text="${plink.key}"></td>
          <td style="padding:0 0.5em 0 0.5em" ></td>
          <td style="padding:0 0.5em 0 0.5em" th:text="${plink.value.left}"></td>
          <td style="padding:0 0.5em 0 0.5em" th:text="${plink.value.middle}"></td>
          <td style="padding:0 0.5em 0 0.5em" th:text="${#temporals.format(plink.value.right,'SHORT')}"></td>
        </tr>
    </table>
    </p>
    <div><label>
        <input type="radio" name="sonosLinkMethod" value="ANONYMOUS"
               th:checked="${model.sonosLinkMethod == 'ANONYMOUS'}">
        <span th:text="#{sonossettings.linkMethod.anonymous}"></span>
    </label></div>
    <p class="detail" style="width:60%;white-space:normal;padding-top:0" th:utext="#{sonossettings.linkMethod.anonymous.description}">
    </p>
    <p></p>
    <p></p>
    <div>
        <span th:text="#{sonossettings.callbackHostAddress}"></span>
        <input name="callbackHostAddress" id="callbackHostAddress" size="80"
               th:value="${model.callbackHostAddress}"/>
    </div>
    <p class="detail" style="width:60%;white-space:normal;padding-top:0" th:utext="#{sonossettings.callbackHostAddress.description}">
    </p>
    <p></p>

    <div>
        <span th:text="#{sonossettings.servicename}"></span>
        <input name="sonosServiceName" id="sonosServiceName" size="40"
               th:value="${model.sonosServiceName}"/>
    </div>
    <p class="detail" style="width:60%;white-space:normal;padding-top:0" th:text="#{sonossettings.servicename.description}"></p>
    <p></p>

    <p>
        <input type="submit" th:value="#{common.save}" style="margin-right:0.3em">
        <a href='nowPlaying.view'><input type="button" th:value="#{common.cancel}"></a>
    </p>

    <p></p>
    <th:block th:if="${!#lists.isEmpty(model['returnCodes'])}">
    <h2 th:text="#{sonossettings.returnCodes}"></h2>
    <p></p>
    <div style="padding:5px" class="log indent">
        <p th:each="returnCode:${model.returnCodes}" th:utext="#{${returnCode}}"></p>
    </div>
    </th:block>


</form>

</body>
</html>
