<!DOCTYPE html>

<html><head>
    <th:block th:replace="~{head :: common_head}" />
    <script type="text/javascript">
        if (window != window.top) {
            top.location.href = location.href;
        }
    </script>

</head>
<body style="min-width:550px" class="mainframe bgcolor1">

    <form method="post" th:action="@{/sonoslink}">

        <div id="loginframe" class="bgcolor2 shadow">

            <img th:src="{#themes.code('logoImage')}" alt=""/>

            <div class="loginmessagetop" th:text="${model.loginMessage}"></div>

            <input type="hidden" value="${model.linkCode}" name="linkCode"/>

            <input required type="text" autofocus id="j_username" name="j_username" tabindex="1" th:placeholder="#{login.username}"/>

            <input required type="password" autocomplete="off"  name="j_password" tabindex="2" th:placeholder="#{login.password}" />

            <input name="submit" type="submit" th:value="#{login.login}/>" tabindex="4"></td>

            <th:block th:unless="${#strings.empty(model.error)}">
                <div class="loginmessagebottom">
                    <span class="warning" th:text="#{login.error}"></span>
                </div>
            </th:block>

        </div>
    </form>

</body>
</html>
