<!DOCTYPE html>

<html><head>
    <th:block th:replace="~{head :: common_head}" />
    <th:block th:replace="~{jquery}" />
    <script type="text/javascript" th:src="@{/script/utils.js}"></script>
    <script type="text/javascript" th:inline="javascript">

        function toggleStar(mediaFileId, imageId) {
            if ($(imageId).attr("src").indexOf("[(${#themes.code('ratingOnImage')})]") != -1) {
                $(imageId).attr("src", "[(${#themes.code('ratingOffImage')})]");
                top.StompClient.send("/app/rate/mediafile/unstar", JSON.stringify([mediaFileId]));
            }
            else if ($(imageId).attr("src").indexOf("[(${#themes.code('ratingOffImage')})]") != -1) {
                $(imageId).attr("src", "[(${#themes.code('ratingOnImage')})]");
                top.StompClient.send("/app/rate/mediafile/star", JSON.stringify([mediaFileId]));
            }
        }

        function onSavePlaylist() {
            top.StompClient.send("/app/playlists/create/starred", "");
        }

        function init() {
            top.StompClient.subscribe("starred.html", {
                '/user/queue/playlists/create/starred': function(msg) {
                    var playlistId = JSON.parse(msg.body);
                    top.main.location.href = "playlist.view?id=" + playlistId;
                    $().toastmessage("showSuccessToast", "[(#{playlist.toast.saveasplaylist})]");
                }
            });
        }

        function onPlayAll() {
            top.playQueue.onPlayStarred();
        }

    </script>
</head>
<body class="mainframe bgcolor1" onload="init()">

<h1>
    <img th:src="${#themes.code('starredImage')}" alt="">
    <span style="vertical-align: middle" th:text="#{starred.title}"></span>
</h1>

<p th:if="${#lists.isEmpty(model.artists) and #lists.isEmpty(model.albums) and #lists.isEmpty(model.songs)}" style="padding-top: 1em"><em th:text="#{starred.empty}"></em></p>

<th:block th:if="${!#lists.isEmpty(model.albums)}">
    <h2 th:text="#{search.hits.albums}"></h2>

<div style="padding-top:0.5em">
    <th:block th:each="album, loopStatus: ${model.albums}">
        <div class="albumThumb">
            <th:block th:replace="~{coverArt::art(
            albumId=${album.id},
            unknownAlbumName=#{common.unknown},
            caption1=${#strings.isEmpty(album.name) ? #strings.escapeXml(album.name) : unknownAlbumName},
            caption2=${#strings.escapeXml(album.artist)},
            coverArtSize=${model.coverArtSize},
            showLink=${true},
            appearAfter=${loopStatus.count * 30},
            hideOverflow=${true}
            )}" />
        </div>
    </th:block>
</div>
</th:block>


<th:block th:if="${!#lists.isEmpty(model.artists)}">
    <h2 th:text="#{search.hits.artists}"></h2>
    <table class="music indent">
        <th:block th:each="artist:${model.artists}">
            <tr>
                <th:block th:replace="~{playButtons::buttons(
                    id=${artist.id},
                    playEnabled=${model.user.streamRole and !model.partyModeEnabled},
                    addEnabled=${model.user.streamRole and (!model.partyModeEnabled or !artist.directory)},
                    starEnabled=${true},
                    starred=${!#strings.isEmpty(artist.starredDate)},
                    asTable=true
                )}" />
                <td class="truncate">
                    <a th:href="@{/main(id=${artist.id})}" th:text="${artist.name}"></a>
                </td>
            </tr>
        </th:block>
    </table>
</th:block>

<th:block th:if="${!#lists.isEmpty(model.songs)}">
    <h2 th:text="#{search.hits.songs}"></h2>
    <table class="music indent">
        <th:block th:each="song:${model.songs}">

            <tr>
                <th:block th:replace="~{playButtons::buttons(
                    id=${song.id},
                    playEnabled=${model.user.streamRole and !model.partyModeEnabled},
                    addEnabled=${model.user.streamRole and !model.partyModeEnabled},
                    starEnabled=${true},
                    starred=${!#strings.isEmpty(song.starredDate)},
                    video=${false},
                    asTable=true
                )}" /> 
                <td class="truncate" th:text="${song.title}"></td>
                <td class="truncate">
                    <a th:href="@{/main(path=|${song.folder.id}:${song.parentPath}|)}"><span class="detail" th:text="${song.albumName}"></span></a>
                </td>

                <td class="truncate">
                    <span class="detail" th:text="${song.artist}"></span>
                </td>
            </tr>

        </th:block>
    </table>

    <div class="forward" style="float:left;padding-right:1.5em">
        <a href="#" onclick="onSavePlaylist()" th:text="#{playlist.save}"></a>
    </div>
    <div class="forward" style="float: left">
        <a href="#" onclick="onPlayAll()" th:text="#{main.playall}"></a>
    </div>
    <div style="clear: both"></div>

</th:block>

<th:block th:if="${! #lists.isEmpty(model.videos)}">
    <h2 th:text="#{search.hits.videos}"></h2>
    <table class="music indent">
        <th:block th:each="video:${model.videos}">
            <tr>
                <th:block th:replace="~{playButtons::buttons(
                    id=${video.id},
                    playEnabled=${model.user.streamRole and !model.partyModeEnabled},
                    addEnabled=${model.user.streamRole and !model.partyModeEnabled},
                    starEnabled=${true},
                    starred=${!#strings.isEmpty(video.starredDate)},
                    video=${model.player.web},
                    asTable=true
                )}" /> 
                <td class="truncate">
                    <a th:href="@{/videoPlayer(id=${video.id})}">${#strings.escapeXml(video.name)}</a>
                </td>
            </tr>
        </th:block>
    </table>
</th:block>

</body></html>
