<!DOCTYPE html>
<html><head>
    <th:block th:replace="~{head :: common_head}" />
    <th:block th:replace="~{jquery}" />
</head>
<body class="mainframe bgcolor1">
<script type="text/javascript" th:src="@{/script/wz_tooltip.js}"></script>
<script type="text/javascript" th:src="@{/script/tip_balloon.js}"></script>

<th:block th:replace="~{settingsHeader::header(cat='transcoding',toast=${settings_toast})}" />

<form method="post" th:action="@{/transcodingSettings.view}" th:object="${command}">
<table class="indent">
    <tr>
        <th th:text="#{transcodingsettings.name}"></th>
        <th th:text="#{transcodingsettings.sourceformat}"></th>
        <th th:text="#{transcodingsettings.targetformat}"></th>
        <th th:text="#{transcodingsettings.step1}"></th>
        <th th:text="#{transcodingsettings.step2}"></th>
        <th style="padding-left:1em" th:text="#{common.default}"></th>
        <th style="padding-left:1em" th:text="#{common.delete}"></th>
    </tr>

    <tr th:each="tr, loopStatus:*{transcodings}">
        <input type="hidden" th:field="*{transcodings[__${loopStatus.index}__].id}"/>
        <td><input class="monospace" th:field="*{transcodings[__${loopStatus.index}__].name}" size="10" /></td>
        <td><input class="monospace" th:field="*{transcodings[__${loopStatus.index}__].sourceFormats}" size="36" /></td>
        <td><input class="monospace" th:field="*{transcodings[__${loopStatus.index}__].targetFormat}" size="10" /></td>
        <td><input class="monospace" th:field="*{transcodings[__${loopStatus.index}__].step1}" size="60" /></td>
        <td><input class="monospace" th:field="*{transcodings[__${loopStatus.index}__].step2}" size="22" /></td>
        <td align="center" style="padding-left:1em"><input type="checkbox" th:field="*{transcodings[__${loopStatus.index}__].defaultActive}"/></td>
        <td align="center" style="padding-left:1em"><input type="checkbox" th:field="*{transcodings[__${loopStatus.index}__].delete}"/></td>
    </tr>

    <tr>
        <th colspan="6" align="left" style="padding-top:1em" th:text="#{transcodingsettings.add}"></th>
    </tr>

    <tr>
        <td><input class="monospace" th:field="*{newTranscoding.name}" size="10" th:placeholder="#{transcodingsettings.name}" /></td>
        <td><input class="monospace" th:field="*{newTranscoding.sourceFormats}" size="36" th:placeholder="#{transcodingsettings.sourceformat}" /></td>
        <td><input class="monospace" th:field="*{newTranscoding.targetFormat}" size="10" th:placeholder="#{transcodingsettings.targetformat}" /></td>
        <td><input class="monospace" th:field="*{newTranscoding.step1}" size="60" th:placeholder="#{transcodingsettings.step1}" /></td>
        <td><input class="monospace" th:field="*{newTranscoding.step2}" size="22" th:placeholder="#{transcodingsettings.step2}" /></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="6" style="padding-top:0.1em">
            <input type="checkbox" th:field="*{newTranscoding.defaultActive}"/>
            <label th:for="${#ids.prev('newTranscoding.defaultActive')}" th:text="#{transcodingsettings.defaultactive}"></label>
        </td> 
    </tr>
</table>


    <table style="white-space:nowrap" class="indent">
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.downsamplecommand}"></span>
                <th:block th:replace="~{helpToolTip((topic=downsamplecommand))}" />
            </td>
            <td>
                <input class="monospace" type="text" th:field="*{downsampleCommand}" size="100" />
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.splitoptions}"></span>
                <th:block th:replace="~{helpToolTip((topic=splitoptions))}" />
            </td>
            <td>
                <input class="monospace" type="text" th:field="*{splitOptions}" size="100" />
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.splitcommand}"></span>
                <th:block th:replace="~{helpToolTip((topic=splitcommand))}" />
            </td>
            <td>
                <input class="monospace" type="text" th:field="*{splitCommand}" size="100" />
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.hlscommand}"></span>
                <th:block th:replace="~{helpToolTip((topic=hlscommand))}" />
            </td>
            <td>
                <input class="monospace" type="text" th:field="*{hlsCommand}" size="100" />
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.jukeboxcommand}"></span>
                <th:block th:replace="~{helpToolTip((topic=jukeboxcommand))}" />
            </td>
            <td>
                <input class="monospace" type="text" th:field="*{jukeboxCommand}" size="100" />
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.videoimagecommand}"></span>
                <th:block th:replace="~{helpToolTip((topic=videoimagecommand))}" />
            </td>
            <td>
                <input class="monospace" type="text" th:field="*{videoImageCommand}" size="100" />
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.subtitlesextractioncommand}"></span>
                <th:block th:replace="~{helpToolTip((topic=subtitlesextractioncommand))}" />
            </td>
            <td>
                <input class="monospace" type="text" th:field="*{subtitlesExtractionCommand}" size="100" />
            </td>
        </tr>
    </table>

    <table style="white-space:nowrap" class="indent">
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.transcodeestimatetimepadding}"></span>
                <th:block th:replace="~{helpToolTip((topic=transcodeestimatetimepadding))}" />
            </td>
            <td>
                <input class="monospace" th:field="*{transcodeEstimateTimePadding}" size="8" />
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.transcodeestimatebytepadding}"></span>
                <th:block th:replace="~{helpToolTip((topic=transcodeestimatebytepadding))}" />
            </td>
            <td>
                <input class="monospace" th:field="*{transcodeEstimateBytePadding}" size="8" />
            </td>
        </tr>
    </table>

    <p style="padding-top:0.75em">
        <input type="submit" th:value="#{common.save}" style="margin-right:0.3em">
        <a th:href="@{/nowPlaying.view}"><input type="button" th:value="#{common.cancel}" style="margin-right:1.3em"></a>
        <a href="https://airsonic.github.io/docs/transcode/" target="_blank" rel="noopener noreferrer" th:text="#{transcodingsettings.recommended}"></a>
    </p>

</form>

<p th:if="${!#strings.isEmpty(error)}" class="warning" th:text="#{__${error}__}"></p>

<div style="width:80%" th:utext="#{transcodingsettings.info(${command.transcodeDirectory}, ${command.brand})}">
</div>
</body></html>
