<!DOCTYPE html>
<html><head>
    <th:block th:replace="head" />
    <th:block th:replace="jquery" />
</head>
<body class="mainframe bgcolor1">
<script type="text/javascript" th:src="@{/script/wz_tooltip.js}"></script>
<script type="text/javascript" th:src="@{/script/tip_balloon.js}"></script>

<th:block th:replace="settingsHeader::header(cat='transcoding',toast=${settings_toast})" />

<form method="post" action="transcodingSettings.view">
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />
<table class="indent">
    <tr>
        <th th:text="#{transcodingsettings.name}"></th>
        <th th:text="#{transcodingsettings.sourceformat}"></th>
        <th th:text="#{transcodingsettings.targetformat}"></th>
        <th th:text="#{transcodingsettings.step1}"></th>
        <th th:text="#{transcodingsettings.step2}"></th>
        <th style="padding-left:1em" th:text="#{common.delete}"></th>
    </tr>

    <tr th:each="transcoding:${model.transcodings}">
        <td><input class="monospace" th:name="|name[${transcoding.id}]|" size="10" th:value="${transcoding.name}"/></td>
        <td><input class="monospace" th:name="|sourceFormats[${transcoding.id}]|" size="36" th:value="${transcoding.sourceFormats}"/></td>
        <td><input class="monospace" th:name="|targetFormat[${transcoding.id}]|" size="10" th:value="${transcoding.targetFormat}"/></td>
        <td><input class="monospace" th:name="|step1[${transcoding.id}]|" size="60" th:value="${transcoding.step1}"/></td>
        <td><input class="monospace" th:name="|step2[${transcoding.id}]|" size="22" th:value="${transcoding.step2}"/></td>
        <td align="center" style="padding-left:1em"><input type="checkbox" th:name="|delete[${transcoding.id}]|"/></td>
    </tr>

    <tr>
        <th colspan="6" align="left" style="padding-top:1em" th:text="#{transcodingsettings.add}"></th>
    </tr>

    <tr>
        <td><input class="monospace" name="name" size="10" th:placeholder="#{transcodingsettings.name}" /></td>
        <td><input class="monospace" name="sourceFormats" size="36" th:placeholder="#{transcodingsettings.sourceformat}" /></td>
        <td><input class="monospace" name="targetFormat" size="10" th:placeholder="#{transcodingsettings.targetformat}" /></td>
        <td><input class="monospace" name="step1" size="60" th:placeholder="#{transcodingsettings.step1}" /></td>
        <td><input class="monospace" name="step2" size="22" th:placeholder="#{transcodingsettings.step2}" /></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="6" style="padding-top:0.1em">
            <input type="checkbox" id="defaultActive" name="defaultActive" checked/>
            <label for="defaultActive" th:text="#{transcodingsettings.defaultactive}"></label>
        </td>
    </tr>
</table>


    <table style="white-space:nowrap" class="indent">
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.downsamplecommand}"></span>
                <th:block th:replace="helpToolTip(topic=downsamplecommand)" />
            </td>
            <td>
                <input class="monospace" type="text" name="downsampleCommand" size="100" th:value="${model.downsampleCommand}"/>
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.splitoptions}"></span>
                <th:block th:replace="helpToolTip(topic=splitoptions)" />
            </td>
            <td>
                <input class="monospace" type="text" name="splitOptions" size="100" th:value="${model.splitOptions}"/>
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.splitcommand}"></span>
                <th:block th:replace="helpToolTip(topic=splitcommand)" />
            </td>
            <td>
                <input class="monospace" type="text" name="splitCommand" size="100" th:value="${model.splitCommand}"/>
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.hlscommand}"></span>
                <th:block th:replace="helpToolTip(topic=hlscommand)" />
            </td>
            <td>
                <input class="monospace" type="text" name="hlsCommand" size="100" th:value="${model.hlsCommand}"/>
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.jukeboxcommand}"></span>
                <th:block th:replace="helpToolTip(topic=jukeboxcommand)" />
            </td>
            <td>
                <input class="monospace" type="text" name="jukeboxCommand" size="100" th:value="${model.jukeboxCommand}"/>
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.videoimagecommand}"></span>
                <th:block th:replace="helpToolTip(topic=videoimagecommand)" />
            </td>
            <td>
                <input class="monospace" type="text" name="videoImageCommand" size="100" th:value="${model.videoImageCommand}"/>
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.subtitlesextractioncommand}"></span>
                <th:block th:replace="helpToolTip(topic=subtitlesextractioncommand)" />
            </td>
            <td>
                <input class="monospace" type="text" name="subtitlesExtractionCommand" size="100" th:value="${model.subtitlesExtractionCommand}"/>
            </td>
        </tr>
    </table>

    <table style="white-space:nowrap" class="indent">
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.transcodeestimatetimepadding}"></span>
                <th:block th:replace="helpToolTip(topic=transcodeestimatetimepadding)" />
            </td>
            <td>
                <input class="monospace" name="transcodeEstimateTimePadding" size="8" th:value="${model.transcodeEstimateTimePadding}"/>
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">
                <span th:text="#{advancedsettings.transcodeestimatebytepadding}"></span>
                <th:block th:replace="helpToolTip(topic=transcodeestimatebytepadding)" />
            </td>
            <td>
                <input class="monospace" name="transcodeEstimateBytePadding" size="8" th:value="${model.transcodeEstimateBytePadding}"/>
            </td>
        </tr>
    </table>

    <p style="padding-top:0.75em">
        <input type="submit" th:value="#{common.save}" style="margin-right:0.3em">
        <a href='nowPlaying.view'><input type="button" th:value="#{common.cancel}" style="margin-right:1.3em"></a>
        <a href="https://airsonic.github.io/docs/transcode/" target="_blank" rel="noopener noreferrer" th:text="#{transcodingsettings.recommended}"></a>
    </p>

</form>

<p th:if="${!#strings.isEmpty(error)}" class="warning" th:text="#{__${error}__}"></p>

<div style="width:80%" th:utext="#{transcodingsettings.info(${model.brand})}">
</div>
</body></html>
