<!DOCTYPE html>
<html>
<head>
	<th:block th:replace="~{head :: common_head}" />
	<th:block th:replace="~{jquery}" />
    <script type="text/javascript" th:src="@{/script/mediaelement/mediaelement-and-player.min.js}"></script>
    <script th:src="@{/script/mediaelement/plugins/speed/speed.min.js}"></script>
    <script th:src="@{/script/mediaelement/plugins/speed/speed-i18n.js}"></script>
    <script th:src="@{/script/mediaelement/plugins/quality/quality.min.js}"></script>
    <script th:src="@{/script/mediaelement/plugins/quality/quality-i18n.js}"></script>
    <script th:src="@{/script/mediaelement/plugins/chromecast/chromecast.min.js}"></script>
    <script th:src="@{/script/mediaelement/plugins/chromecast/chromecast-i18n.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/style/videoPlayer.css}">
    <link rel="stylesheet" th:href="@{/script/mediaelement/plugins/speed/speed.min.css}">
    <link rel="stylesheet" th:href="@{/script/mediaelement/plugins/quality/quality.min.css}">
    <link rel="stylesheet" th:href="@{/script/mediaelement/plugins/chromecast/chromecast.min.css}">

    <style>
        .ui-slider .ui-slider-handle {
            width: 11px;
            height: 11px;
            cursor: pointer;
        }
        .ui-slider a {
            outline:none;
        }
        .ui-slider {
            cursor: pointer;
        }
        #videoPlayer {
            height: 100%;
            width: 100%;
        }
    </style>

    <script type="text/javascript" th:inline="javascript">
        function toggleStar(mediaFileId, imageId) {
            if ($(imageId).attr("src").indexOf("[(${#themes.code('ratingOnImage')})]") != -1) {
                $(imageId).attr("src", "[(${#themes.code('ratingOffImage')})]");
                top.StompClient.send("/app/rate/mediafile/unstar", JSON.stringify([mediaFileId]));
            }
            else if ($(imageId).attr("src").indexOf("[(${#themes.code('ratingOffImage')})]") != -1) {
                $(imageId).attr("src", "[(${#themes.code('ratingOnImage')})]");
                top.StompClient.send("/app/rate/mediafile/star", JSON.stringify([mediaFileId]));
            }
        }

        var videoModel = {
          duration: /*[(${#strings.isEmpty(model.video.duration) ? -1 : model.video.duration})]*/ -1,
          videoTitle: "[(${model.video.title})]",
          streamable: /*[(${model.streamable})]*/ false,
          castable: /*[(${model.castable})]*/ false,
          streamUrls: /*[[${model.streamUrls}]]*/ {},
          remoteCoverArtUrl: "[(${model.remoteCoverArtUrl})]",
          remoteStreamUrl: "[(${model.remoteStreamUrl})]",
          remoteCaptionsListUrl: "[(${model.remoteCaptionsUrl})]",
          remoteCaptions: [],
          currentUrl: "[(${model.defaultBitRate})]",
          videoId: "[(${model.video.id})]",
          position: /*[(${model.position})]*/ 0,
          autoBookmark: /*[(${model.autoBookmark})]*/ false,
          videoBookmarkFrequency: /*[(${model.videoBookmarkFrequency})]*/ 30,
          contentType: "[(${model.contentType})]",
          hideShare: /*[(${model.user.shareRole ? 'true': 'false'})]*/ false,
          hideDownload: /*[(${model.user.downloadRole ? 'true': 'false'})]*/ false
        }

        function setBookmark() {
            if (videoModel.autoBookmark) {
                var position = Math.round(this.videoPlayer.currentTime);
                if ((videoModel.position != (position * 1000)) && (position % videoModel.videoBookmarkFrequency == 0)) {
                    videoModel.position = position * 1000;
                    top.StompClient.send("/app/bookmarks/set", JSON.stringify({positionMillis: videoModel.position, comment: "Played on Web Video Player", mediaFileId: videoModel.videoId}));
                }
            }
        }

        function init() {
            $.get(videoModel.remoteCaptionsListUrl, data => {
                videoModel.remoteCaptions = data;
            });
            var vpr = this;
            this.videoPlayer = new MediaElementPlayer("videoPlayer", {
                alwaysShowControls: true,
                iconSprite: "[(@{/script/mediaelement/mejs-controls.svg})]",
                enableKeyboard: true,
                useDefaultControls: true,
                enableTracks: true,
                castAppID: "4FBFE470",
                features: ["speed", "quality", "chromecast"],
                hls: {
                    path: "[(@{/script/mediaelement/renderers/hls-1.3.4/hls.min.js})]"
                },
                dash: {
                    path: "[(@{/script/mediaelement/renderers/dash.all-4.6.0.min.js})]"
                },
                defaultSpeed: "1.00",
                speeds: ["8.00", "2.00", "1.50", "1.25", "1.00", "0.75", "0.5"],
                defaultQuality: "[(${model.defaultBitRate})]",
                videoWidth: "100%",
                videoHeight: "100%",
                qualityChangeCallback: function(media, node, newQuality, url, event) {
                    videoModel.currentUrl = newQuality;
                },
                success(mediaElement, originalNode, instance) {
                    if (videoModel.streamable) {
                        // "hack" html5 renderer and reinitialize speed
                        instance.media.rendererName = "html5";
                        instance.buildspeed(instance, instance.getElement(instance.controls), instance.getElement(instance.layers), instance.media);
                    }
                    let shareRole = /*[[${model.user.shareRole} == true]]*/ false;
					if(shareRole) {
						$("#share").on('click', () => location.href = "createShare.view?id=" + videoModel.videoId);
					}
					let downloadRole = /*[[${model.user.downloadRole} == true]]*/ false;
					if(downloadRole) {
						$("#download").on('click', () => location.href = "download.view?id=" + videoModel.videoId);
					}

                    // add dimensions to playing vid
                    instance.setSrc($('#videoPlayer source[data-quality="[(${model.defaultBitRate})]"]')[0].src);
                    // set position
                    instance.setCurrentTime(videoModel.position/1000);

                    // Once playback reaches the end, go to the next song, if any.
                    $(mediaElement).on("ended", () => vpr.setBookmark());
                    $(mediaElement).on("timeupdate", () => vpr.setBookmark());
                    $(mediaElement).on("seeked", () => vpr.setBookmark());
                    $(mediaElement).on("paused", () => vpr.setBookmark());
                }
            });
            // add dimensions to play at
            $('#videoPlayer source').each((s, d) => d.src = d.src + "&size=" + Math.floor($('.mejs__container').width()) + "x" + Math.floor($('.mejs__container').height()));
        }
    </script>
</head>

<body class="mainframe bgcolor1" style="padding-bottom:0.5em" onload="init();">

<div style="width:100%;height:100%;display:flex;flex-direction:column;">
    <div style="flex:0 1 auto">
		<video id="videoPlayer">
			<source th:each="streamUrl:${model.streamUrls}"
					th:src="${streamUrl.value}"
					th:data-quality="${streamUrl.key}">
		    <track th:each="caption:${model.captions}"
				   th:src="${caption.url}"
				   th:label="|${caption.identifier} (${caption.language})|"
				   th:srclang="${caption.language}" kind="subtitles">
		</video>
	</div>

	<h1 style="padding-top:1em;padding-bottom:0.5em;">
	    <span style="vertical-align:middle" th:text="${model.video.title}"></span>
	</h1>

	<div>
	  <th:block th:if="${model.user.shareRole}">
	    <img id="share" th:src="${#themes.code('shareImage')}" th:title="#{main.more.share}" th:alt="#{main.more.share}">
	  </th:block>
	  <th:block th:if="${model.user.downloadRole}">
	    <img id="download" th:src="${#themes.code('downloadImage')}"
			 th:title="#{common.download}"
			 th:alt="#{common.download}">
	  </th:block>
	  <img id="starImage" th:src="${#themes.code('__${!#strings.isEmpty(model.video.starredDate) ? 'ratingOnImage' : 'ratingOffImage'}__')}"
		   th:data-video-id="${model.video.id}"
	         onclick="toggleStar(this.getAttribute('data-video-id'), '#starImage'); return false;"
		   th:title="|#{playlist.more.star} / #{playlist.more.unstar}|"
		   th:alt="|#{playlist.more.star} / #{playlist.more.unstar}|">
	</div>

	<div class="back" style="float:left;padding-right:2em;margin-top:1em;"><a th:href="@{/main.view(id=${model.video.id})}" th:text="#{common.back}"></a></div>
	<div style="clear: both"></div>
</div>

</body>
</html>
